In [22]:
import pandas as pd
import numpy as np
import arff
from scipy.io.arff import loadarff

from utils import *
import sys
import os
sys.path.insert(0, os.path.abspath("../.."))

In [23]:
info_df = []

In [24]:
#https://openml.org/search?type=data&sort=runs&status=active&id=1464
blood = loadarff('../data/data_original/blood.arff')
blood = pd.DataFrame(blood[0])
blood['Class'] = blood['Class'].apply(lambda x: 1 if x == b'2' else 0)
blood.rename(columns={'Class': 'target'}, inplace=True)
basic_information(blood)
blood.to_csv('../data/data_prepared/blood.csv', index=False)
info_df.append(info_dict('blood', blood, []))
blood

Total NA: 0
Imbalance: target
0    570
1    178
Name: count, dtype: int64
Dtyoes: V1        float64
V2        float64
V3        float64
V4        float64
target      int64
dtype: object
duplicates 215

       V1    V2       V3    V4  target
0     2.0  50.0  12500.0  98.0       1
1     0.0  13.0   3250.0  28.0       1
2     1.0  16.0   4000.0  35.0       1
3     2.0  20.0   5000.0  45.0       1
4     1.0  24.0   6000.0  77.0       0
..    ...   ...      ...   ...     ...
743  23.0   2.0    500.0  38.0       0
744  21.0   2.0    500.0  52.0       0
745  23.0   3.0    750.0  62.0       0
746  39.0   1.0    250.0  39.0       0
747  72.0   1.0    250.0  72.0       0

[748 rows x 5 columns]

In [25]:
#https://archive.ics.uci.edu/dataset/252/clima+model+simulation+crashes
with open("../data/data_original/clima.dat", "r") as file:
    data = file.readlines()
    
columns = data[0].strip().split()
values = [list(map(float, row.strip().split())) for row in data[1:]]
clima = pd.DataFrame(values, columns=columns)
clima.rename(columns={'outcome': 'target'}, inplace=True)
#clima['target'] = clima['target'].astype(int).replace({0: 1, 1: 0})
clima.drop(columns=['Study', 'Run'], inplace=True)
clima.to_csv('../data/data_prepared/clima.csv', index=False)
info_df.append(info_dict('clima', clima, []))
basic_information(clima)
clima

Total NA: 0
Imbalance: target
1.0    494
0.0     46
Name: count, dtype: int64
Dtyoes: vconst_corr             float64
vconst_2                float64
vconst_3                float64
vconst_4                float64
vconst_5                float64
vconst_7                float64
ah_corr                 float64
ah_bolus                float64
slm_corr                float64
efficiency_factor       float64
tidal_mix_max           float64
vertical_decay_scale    float64
convect_corr            float64
bckgrnd_vdc1            float64
bckgrnd_vdc_ban         float64
bckgrnd_vdc_eq          float64
bckgrnd_vdc_psim        float64
Prandtl                 float64
target                  float64
dtype: object
duplicates 0

,vconst_corr,vconst_2,vconst_3,vconst_4,vconst_5,vconst_7,ah_corr,ah_bolus,slm_corr,efficiency_factor,tidal_mix_max,vertical_decay_scale,convect_corr,bckgrnd_vdc1,bckgrnd_vdc_ban,bckgrnd_vdc_eq,bckgrnd_vdc_psim,Prandtl,target
0,0.859036,0.927825,0.252866,0.298838,0.170521,0.735936,0.428325,0.567947,0.474370,0.245675,0.104226,0.869091,0.997518,0.448620,0.307522,0.858310,0.796997,0.869893,0.0
1,0.606041,0.457728,0.359448,0.306957,0.843331,0.934851,0.444572,0.828015,0.296618,0.616870,0.975786,0.914344,0.845247,0.864152,0.346713,0.356573,0.438447,0.512256,1.0
2,0.997600,0.373238,0.517399,0.504993,0.618903,0.605571,0.746225,0.195928,0.815667,0.679355,0.803413,0.643995,0.718441,0.924775,0.315371,0.250642,0.285636,0.365858,1.0
3,0.783408,0.104055,0.197533,0.421837,0.742056,0.490828,0.005525,0.392123,0.010015,0.471463,0.597879,0.761659,0.362751,0.912819,0.977971,0.845921,0.699431,0.475987,1.0
4,0.406250,0.513199,0.061812,0.635837,0.844798,0.441502,0.191926,0.487546,0.358534,0.551543,0.743877,0.312349,0.650223,0.522261,0.043545,0.376660,0.280098,0.132283,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,0.657136,0.489375,0.133713,0.411950,0.087780,0.356289,0.480204,0.029678,0.400102,0.280546,0.384117,0.885948,0.768482,0.459479,0.334482,0.573002,0.610183,0.737706,1.0
536,0.915894,0.842720,0.518947,0.090622,0.336981,0.893576,0.978703,0.674868,0.263398,0.798108,0.353546,0.044796,0.990900,0.347027,0.512499,0.810549,0.593332,0.142565,0.0
537,0.478600,0.941185,0.769245,0.950776,0.189406,0.112743,0.745645,0.527096,0.870987,0.193103,0.829563,0.101506,0.548878,0.381966,0.198811,0.867108,0.461632,0.652817,1.0
538,0.007793,0.779287,0.867468,0.704820,0.983282,0.420303,0.710612,0.174746,0.267685,0.761134,0.436714,0.690132,0.825133,0.981656,0.113193,0.364799,0.201469,0.536535,1.0
539,0.608075,0.031556,0.598264,0.794771,0.145680,0.378183,0.461948,0.425291,0.057396,0.480938,0.307816,0.231638,0.464152,0.583558,0.969365,0.464331,0.760344,0.762439,1.0

In [26]:
#https://openml.org/search?type=data&status=active&id=1471
eeg = loadarff('../data/data_original/eeg.arff')
eeg = pd.DataFrame(eeg[0])
eeg.rename(columns={'eyeDetection': 'target'}, inplace=True)
eeg['target'] = eeg['target'].apply(lambda x: 1 if x == b'1' else 0)
basic_information(eeg)
eeg.to_csv('../data/data_prepared/eeg.csv', index=False)
info_df.append(info_dict('eeg', eeg, []))
eeg

Total NA: 0
Imbalance: target
0    8257
1    6723
Name: count, dtype: int64
Dtyoes: AF3       float64
F7        float64
F3        float64
FC5       float64
T7        float64
P7        float64
O1        float64
O2        float64
P8        float64
T8        float64
FC6       float64
F4        float64
F8        float64
AF4       float64
target      int64
dtype: object
duplicates 0

,AF3,F7,F3,FC5,T7,P7,O1,O2,P8,T8,FC6,F4,F8,AF4,target
0,4329.23,4009.23,4289.23,4148.21,4350.26,4586.15,4096.92,4641.03,4222.05,4238.46,4211.28,4280.51,4635.90,4393.85,0
1,4324.62,4004.62,4293.85,4148.72,4342.05,4586.67,4097.44,4638.97,4210.77,4226.67,4207.69,4279.49,4632.82,4384.10,0
2,4327.69,4006.67,4295.38,4156.41,4336.92,4583.59,4096.92,4630.26,4207.69,4222.05,4206.67,4282.05,4628.72,4389.23,0
3,4328.72,4011.79,4296.41,4155.90,4343.59,4582.56,4097.44,4630.77,4217.44,4235.38,4210.77,4287.69,4632.31,4396.41,0
4,4326.15,4011.79,4292.31,4151.28,4347.69,4586.67,4095.90,4627.69,4210.77,4244.10,4212.82,4288.21,4632.82,4398.46,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14975,4281.03,3990.26,4245.64,4116.92,4333.85,4614.36,4074.87,4625.64,4203.08,4221.54,4171.28,4269.23,4593.33,4340.51,1
14976,4276.92,3991.79,4245.13,4110.77,4332.82,4615.38,4073.33,4621.54,4194.36,4217.44,4162.56,4259.49,4590.26,4333.33,1
14977,4277.44,3990.77,4246.67,4113.85,4333.33,4615.38,4072.82,4623.59,4193.33,4212.82,4160.51,4257.95,4591.79,4339.49,1
14978,4284.62,3991.79,4251.28,4122.05,4334.36,4616.41,4080.51,4628.72,4200.00,4220.00,4165.64,4267.18,4596.41,4350.77,1
14979,4287.69,3997.44,4260.00,4121.03,4333.33,4616.41,4088.72,4638.46,4212.31,4226.67,4167.69,4274.36,4597.95,4350.77,1

In [27]:
#https://archive.ics.uci.edu/dataset/244/fertility
with open("../data/data_original/fertility.txt", "r") as file:
    data = file.readlines()
fertility = pd.DataFrame([data[i].strip().split(",") for i in range(len(data))], columns=["season", "age", "child_diseases", "accident", "surgical_intervention", "high_fevers", "alcohol", "smoking", "hr_sittings", "diagnosis"])

fertility.rename(columns={'diagnosis': 'target'}, inplace=True)
fertility['target'] = fertility['target'].apply(lambda x: 0 if x == 'N' else 1)
fertility = fertility.astype(float)
fertility['target'] = fertility['target'].astype(int)
fertility.to_csv('../data/data_prepared/fertility.csv', index=False)
info_df.append(info_dict('fertility', fertility, ['season', 'child_diseases', 'accident', 'surgical_intervention', 'high_fevers', 'alcohol', 'smoking']))
basic_information(fertility)
fertility

Total NA: 0
Imbalance: target
0    88
1    12
Name: count, dtype: int64
Dtyoes: season                   float64
age                      float64
child_diseases           float64
accident                 float64
surgical_intervention    float64
high_fevers              float64
alcohol                  float64
smoking                  float64
hr_sittings              float64
target                     int32
dtype: object
duplicates 0

,season,age,child_diseases,accident,surgical_intervention,high_fevers,alcohol,smoking,hr_sittings,target
0,-0.33,0.69,0.0,1.0,1.0,0.0,0.8,0.0,0.88,0
1,-0.33,0.94,1.0,0.0,1.0,0.0,0.8,1.0,0.31,1
2,-0.33,0.50,1.0,0.0,0.0,0.0,1.0,-1.0,0.50,0
3,-0.33,0.75,0.0,1.0,1.0,0.0,1.0,-1.0,0.38,0
4,-0.33,0.67,1.0,1.0,0.0,0.0,0.8,-1.0,0.50,1
...,...,...,...,...,...,...,...,...,...,...
95,-1.00,0.67,1.0,0.0,0.0,0.0,1.0,-1.0,0.50,0
96,-1.00,0.61,1.0,0.0,0.0,0.0,0.8,0.0,0.50,0
97,-1.00,0.67,1.0,1.0,1.0,0.0,1.0,-1.0,0.31,0
98,-1.00,0.64,1.0,0.0,1.0,0.0,1.0,0.0,0.19,0
99,-1.00,0.69,0.0,1.0,1.0,0.0,0.6,-1.0,0.19,0

In [28]:
#https://openml.org/search?type=data&status=active&id=41158
gina = loadarff('../data/data_original/gina.arff')
gina = pd.DataFrame(gina[0])
gina = gina.iloc[:, 1:].join(gina.iloc[:, 0])
gina.rename(columns={'class': 'target'}, inplace=True)
gina['target'] = gina['target'].apply(lambda x: 1 if x == b'1' else 0)
gina.to_csv('../data/data_prepared/gina.csv', index=False)
info_df.append(info_dict('gina', gina, []))
basic_information(gina)
gina

Total NA: 0
Imbalance: target
0    1603
1    1550
Name: count, dtype: int64
Dtyoes: V1        float64
V2        float64
V3        float64
V4        float64
V5        float64
           ...
V967      float64
V968      float64
V969      float64
V970      float64
target      int64
Length: 971, dtype: object
duplicates 0

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V962,V963,V964,V965,V966,V967,V968,V969,V970,target
0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.0,222.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,175.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,236.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,252.0,0.0,...,0.0,0.0,0.0,0.0,0.0,209.0,0.0,0.0,0.0,0
3,0.0,0.0,0.0,211.0,0.0,0.0,0.0,0.0,0.0,252.0,...,0.0,0.0,0.0,0.0,0.0,132.0,0.0,0.0,0.0,0
4,0.0,0.0,196.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,185.0,0.0,0.0,0.0,253.0,0.0,0.0,247.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3148,69.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,196.0,0.0,137.0,0.0,0
3149,0.0,0.0,252.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,252.0,0.0,0.0,252.0,0
3150,233.0,0.0,53.0,106.0,0.0,0.0,213.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,145.0,0.0,0.0,0.0,0.0,0
3151,0.0,0.0,220.0,0.0,0.0,0.0,0.0,0.0,254.0,0.0,...,0.0,0.0,0.0,0.0,0.0,254.0,0.0,0.0,0.0,0
3152,0.0,0.0,0.0,0.0,0.0,254.0,0.0,0.0,0.0,0.0,...,0.0,0.0,37.0,0.0,0.0,30.0,0.0,94.0,0.0,1

In [29]:
#https://openml.org/search?type=data&status=any&id=1479
hill = loadarff('../data/data_original/hill.arff')
hill = pd.DataFrame(hill[0])
hill.rename(columns={'Class': 'target'}, inplace=True)
hill['target'] = hill['target'].apply(lambda x: 1 if x == b'1' else 0)
hill.to_csv('../data/data_prepared/hill.csv', index=False)
info_df.append(info_dict('hill', hill, []))
basic_information(hill)
hill

Total NA: 0
Imbalance: target
0    606
1    606
Name: count, dtype: int64
Dtyoes: V1        float64
V2        float64
V3        float64
V4        float64
V5        float64
           ...
V97       float64
V98       float64
V99       float64
V100      float64
target      int64
Length: 101, dtype: object
duplicates 0

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V92,V93,V94,V95,V96,V97,V98,V99,V100,target
0,39.02,36.49,38.20,38.85,39.38,39.74,37.02,39.53,38.81,38.79,...,36.62,36.92,38.80,38.52,38.07,36.73,39.46,37.50,39.10,0
1,1.83,1.71,1.77,1.77,1.68,1.78,1.80,1.70,1.75,1.78,...,1.80,1.79,1.77,1.74,1.74,1.80,1.78,1.75,1.69,1
2,68177.69,66138.42,72981.88,74304.33,67549.66,69367.34,69169.41,73268.61,74465.84,72503.37,...,73438.88,71053.35,71112.62,74916.48,72571.58,66348.97,71063.72,67404.27,74920.24,1
3,44889.06,39191.86,40728.46,38576.36,45876.06,47034.00,46611.43,37668.32,40980.89,38466.15,...,42625.67,40684.20,46960.73,44546.80,45410.53,47139.44,43095.68,40888.34,39615.19,0
4,5.70,5.40,5.28,5.38,5.27,5.61,6.00,5.38,5.34,5.87,...,5.17,5.67,5.60,5.94,5.73,5.22,5.30,5.73,5.91,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1207,13.00,12.87,13.27,13.04,13.19,12.53,14.31,13.33,13.63,14.55,...,12.48,12.15,13.15,12.35,13.58,13.86,12.88,13.87,13.51,1
1208,48.66,50.11,48.55,50.43,50.09,49.67,48.95,48.65,48.63,48.61,...,46.93,49.61,47.16,48.17,47.94,49.81,49.89,47.43,47.77,0
1209,10160.65,9048.63,8994.94,9514.39,9814.74,10195.24,10031.47,10202.28,9152.99,9591.75,...,9068.11,9191.80,9275.04,9848.18,9074.17,9601.74,10366.24,8997.60,9305.77,1
1210,34.81,35.07,34.98,32.37,34.16,34.03,33.31,32.48,35.63,32.48,...,32.76,35.03,32.89,31.91,33.85,35.28,32.49,32.83,34.82,1
1211,8489.43,7672.98,9132.14,7985.73,8226.85,8554.28,8838.87,8967.24,8635.14,8544.37,...,8609.73,9209.48,8496.33,8724.01,8219.99,8550.86,8679.43,8389.31,8712.80,0

In [30]:
#https://openml.org/search?type=data&status=active&id=41945
ilpd = loadarff('../data/data_original/ilpd.arff')
ilpd = pd.DataFrame(ilpd[0])
ilpd.rename(columns={'Class': 'target'}, inplace=True)
ilpd['target'] = ilpd['target'].apply(lambda x: 1 if x == b'1' else 0)
ilpd.to_csv('../data/data_prepared/ilpd.csv', index=False)
info_df.append(info_dict('ilpd', ilpd, []))
basic_information(ilpd)
ilpd

Total NA: 0
Imbalance: target
1    416
0    167
Name: count, dtype: int64
Dtyoes: V1        float64
V2        float64
V3        float64
V4        float64
V5        float64
V6        float64
V7        float64
V8        float64
V9        float64
V10       float64
target      int64
dtype: object
duplicates 13

       V1   V2    V3   V4     V5    V6     V7   V8   V9   V10  target
0    65.0  0.0   0.7  0.1  187.0  16.0   18.0  6.8  3.3  0.90       1
1    62.0  1.0  10.9  5.5  699.0  64.0  100.0  7.5  3.2  0.74       1
2    62.0  1.0   7.3  4.1  490.0  60.0   68.0  7.0  3.3  0.89       1
3    58.0  1.0   1.0  0.4  182.0  14.0   20.0  6.8  3.4  1.00       1
4    72.0  1.0   3.9  2.0  195.0  27.0   59.0  7.3  2.4  0.40       1
..    ...  ...   ...  ...    ...   ...    ...  ...  ...   ...     ...
578  60.0  1.0   0.5  0.1  500.0  20.0   34.0  5.9  1.6  0.37       0
579  40.0  1.0   0.6  0.1   98.0  35.0   31.0  6.0  3.2  1.10       1
580  52.0  1.0   0.8  0.2  245.0  48.0   49.0  6.4  3.2  1.00       1
581  31.0  1.0   1.3  0.5  184.0  29.0   32.0  6.8  3.4  1.00       1
582  38.0  1.0   1.0  0.3  216.0  21.0   24.0  7.3  4.4  1.50       0

[583 rows x 11 columns]

In [31]:
#https://openml.org/search?type=data&status=active&id=1067&sort=runs
kc =loadarff('../data/data_original/kc.arff')
kc = pd.DataFrame(kc[0])
kc.rename(columns={'defects': 'target'}, inplace=True)
kc['target'] = kc['target'].apply(lambda x: 1 if x == b'true' else 0)
kc.to_csv('../data/data_prepared/kc.csv', index=False)
info_df.append(info_dict('kc', kc, []))
basic_information(kc)
kc

Total NA: 0
Imbalance: target
0    1783
1     326
Name: count, dtype: int64
Dtyoes: loc                  float64
v(g)                 float64
ev(g)                float64
iv(g)                float64
n                    float64
v                    float64
l                    float64
d                    float64
i                    float64
e                    float64
b                    float64
t                    float64
lOCode               float64
lOComment            float64
lOBlank              float64
locCodeAndComment    float64
uniq_Op              float64
uniq_Opnd            float64
total_Op             float64
total_Opnd           float64
branchCount          float64
target                 int64
dtype: object
duplicates 897

,loc,v(g),ev(g),iv(g),n,v,l,d,i,e,...,lOCode,lOComment,lOBlank,locCodeAndComment,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount,target
0,1.1,1.4,1.4,1.4,1.3,1.30,1.30,1.30,1.30,1.30,...,2.0,2.0,2.0,2.0,1.2,1.2,1.2,1.2,1.4,0
1,1.0,1.0,1.0,1.0,1.0,1.00,1.00,1.00,1.00,1.00,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1
2,83.0,11.0,1.0,11.0,171.0,927.89,0.04,23.04,40.27,21378.61,...,65.0,10.0,6.0,0.0,18.0,25.0,107.0,64.0,21.0,1
3,46.0,8.0,6.0,8.0,141.0,769.78,0.07,14.86,51.81,11436.73,...,37.0,2.0,5.0,0.0,16.0,28.0,89.0,52.0,15.0,1
4,25.0,3.0,1.0,3.0,58.0,254.75,0.11,9.35,27.25,2381.95,...,21.0,0.0,2.0,0.0,11.0,10.0,41.0,17.0,5.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2104,19.0,2.0,1.0,2.0,40.0,175.69,0.15,6.82,25.77,1197.90,...,12.0,1.0,2.0,0.0,10.0,11.0,25.0,15.0,3.0,0
2105,23.0,3.0,3.0,3.0,60.0,278.63,0.10,9.69,28.75,2700.58,...,18.0,1.0,2.0,0.0,12.0,13.0,39.0,21.0,5.0,0
2106,2.0,1.0,1.0,1.0,4.0,8.00,0.67,1.50,5.33,12.00,...,0.0,0.0,0.0,0.0,3.0,1.0,3.0,1.0,1.0,0
2107,13.0,1.0,1.0,1.0,17.0,60.94,0.25,4.00,15.24,243.78,...,6.0,0.0,5.0,0.0,6.0,6.0,9.0,8.0,1.0,0
2108,11.0,2.0,1.0,2.0,27.0,102.80,0.17,6.00,17.13,616.79,...,9.0,0.0,0.0,0.0,8.0,6.0,18.0,9.0,3.0,0

In [32]:
#https://openml.org/search?type=data&status=any&id=8
liver = loadarff('../data/data_original/liver.arff')
liver = pd.DataFrame(liver[0])
liver.rename(columns={'selector': 'target'}, inplace=True)
liver['target'] = liver['target'].apply(lambda x: 1 if x == b'1' else 0)
liver.to_csv('../data/data_prepared/liver.csv', index=False)
info_df.append(info_dict('liver', liver, []))
basic_information(liver)
liver

Total NA: 0
Imbalance: target
0    200
1    145
Name: count, dtype: int64
Dtyoes: mcv        float64
alkphos    float64
sgpt       float64
sgot       float64
gammagt    float64
drinks     float64
target       int64
dtype: object
duplicates 4

      mcv  alkphos  sgpt  sgot  gammagt  drinks  target
0    85.0     92.0  45.0  27.0     31.0     0.0       1
1    85.0     64.0  59.0  32.0     23.0     0.0       0
2    86.0     54.0  33.0  16.0     54.0     0.0       0
3    91.0     78.0  34.0  24.0     36.0     0.0       0
4    87.0     70.0  12.0  28.0     10.0     0.0       0
..    ...      ...   ...   ...      ...     ...     ...
340  99.0     75.0  26.0  24.0     41.0    12.0       1
341  96.0     69.0  53.0  43.0    203.0    12.0       0
342  98.0     77.0  55.0  35.0     89.0    15.0       1
343  91.0     68.0  27.0  26.0     14.0    16.0       1
344  98.0     99.0  57.0  45.0     65.0    20.0       1

[345 rows x 7 columns]

In [33]:
#https://openml.org/search?type=data&status=active&id=40665
musk = loadarff('../data/data_original/musk.arff')
musk = pd.DataFrame(musk[0])
musk.rename(columns={'class': 'target'}, inplace=True)
musk['target'] = musk['target'].apply(lambda x: 1 if x == b'1' else 0)
musk.drop(columns=['molecule_name', 'conformation_name'], inplace=True)
musk.to_csv('../data/data_prepared/musk.csv', index=False)
info_df.append(info_dict('musk', musk, []))
basic_information(musk)
musk

Total NA: 0
Imbalance: target
0    269
1    207
Name: count, dtype: int64
Dtyoes: f1        float64
f2        float64
f3        float64
f4        float64
f5        float64
           ...
f163      float64
f164      float64
f165      float64
f166      float64
target      int64
Length: 167, dtype: object
duplicates 0

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f158,f159,f160,f161,f162,f163,f164,f165,f166,target
0,42.0,-198.0,-109.0,-75.0,-117.0,11.0,23.0,-88.0,-28.0,-27.0,...,-74.0,-129.0,-120.0,-38.0,30.0,48.0,-37.0,6.0,30.0,1
1,42.0,-191.0,-142.0,-65.0,-117.0,55.0,49.0,-170.0,-45.0,5.0,...,-302.0,60.0,-120.0,-39.0,31.0,48.0,-37.0,5.0,30.0,1
2,42.0,-191.0,-142.0,-75.0,-117.0,11.0,49.0,-161.0,-45.0,-28.0,...,-73.0,-127.0,-120.0,-38.0,30.0,48.0,-37.0,5.0,31.0,1
3,42.0,-198.0,-110.0,-65.0,-117.0,55.0,23.0,-95.0,-28.0,5.0,...,-302.0,60.0,-120.0,-39.0,30.0,48.0,-37.0,6.0,30.0,1
4,42.0,-198.0,-102.0,-75.0,-117.0,10.0,24.0,-87.0,-28.0,-28.0,...,-73.0,-127.0,51.0,128.0,144.0,43.0,-30.0,14.0,26.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471,49.0,-199.0,-161.0,29.0,-95.0,-86.0,-48.0,2.0,112.0,-79.0,...,-246.0,-209.0,33.0,152.0,134.0,47.0,-43.0,-15.0,-10.0,0
472,38.0,-123.0,-139.0,30.0,-117.0,-88.0,214.0,-13.0,-74.0,-129.0,...,-226.0,-210.0,20.0,55.0,119.0,79.0,-28.0,4.0,74.0,0
473,43.0,-102.0,-20.0,-101.0,-116.0,200.0,-166.0,66.0,-222.0,-49.0,...,32.0,136.0,-15.0,143.0,121.0,55.0,-37.0,-19.0,-36.0,0
474,39.0,-58.0,27.0,31.0,-117.0,-92.0,85.0,21.0,-73.0,-68.0,...,-232.0,-206.0,13.0,45.0,116.0,79.0,-28.0,3.0,74.0,0
475,52.0,-121.0,-24.0,-104.0,-116.0,195.0,-162.0,76.0,-226.0,-56.0,...,34.0,133.0,-20.0,-46.0,95.0,98.0,-14.0,12.0,96.0,0

In [34]:
#https://openml.org/search?type=data&status=active&id=301
ozone = loadarff('../data/data_original/ozone.arff')
ozone = pd.DataFrame(ozone[0])
ozone = ozone.applymap(lambda x: x.decode("utf-8") if isinstance(x, bytes) else x)
ozone.replace("?", np.nan, inplace=True)
ozone = ozone.apply(pd.to_numeric)
ozone.fillna(ozone.mean(), inplace=True)
ozone.rename(columns={'Class': 'target'}, inplace=True)
ozone['target'] = ozone['target'].astype(int)
ozone.to_csv('../data/data_prepared/ozone.csv', index=False)
info_df.append(info_dict('ozone', ozone, []))
basic_information(ozone)
ozone

Total NA: 0
Imbalance: target
0    2463
1      73
Name: count, dtype: int64
Dtyoes: WSR0      float64
WSR1      float64
WSR2      float64
WSR3      float64
WSR4      float64
           ...
TT        float64
SLP       float64
SLP_      float64
Precp     float64
target      int32
Length: 73, dtype: object
duplicates 8

,WSR0,WSR1,WSR2,WSR3,WSR4,WSR5,WSR6,WSR7,WSR8,WSR9,...,RH50,U50,V50,HT50,KI,TT,SLP,SLP_,Precp,target
0,0.8,1.8,2.4,2.1,2.0,2.1,1.5,1.7,1.9,2.3,...,0.15000,10.670000,-1.560000,5795.000000,-12.100000,17.900000,10330.000000,-55.000000,0.00,0
1,2.8,3.2,3.3,2.7,3.3,3.2,2.9,2.8,3.1,3.4,...,0.48000,8.390000,3.840000,5805.000000,14.050000,29.000000,10275.000000,-55.000000,0.00,0
2,2.9,2.8,2.6,2.1,2.2,2.5,2.5,2.7,2.2,2.5,...,0.60000,6.940000,9.800000,5790.000000,17.900000,41.300000,10235.000000,-40.000000,0.00,0
3,4.7,3.8,3.7,3.8,2.9,3.1,2.8,2.5,2.4,3.1,...,0.49000,8.730000,10.540000,5775.000000,31.150000,51.700000,10195.000000,-40.000000,2.08,0
4,2.6,2.1,1.6,1.4,0.9,1.5,1.2,1.4,1.3,1.4,...,0.30467,9.867313,0.831892,5818.898515,10.510812,37.388366,10164.180664,-0.130416,0.58,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2531,0.3,0.4,0.5,0.5,0.2,0.3,0.4,0.4,1.3,2.2,...,0.07000,7.930000,-4.410000,5800.000000,-25.600000,21.800000,10295.000000,65.000000,0.00,0
2532,1.0,1.4,1.1,1.7,1.5,1.7,1.8,1.5,2.1,2.4,...,0.04000,5.950000,-1.140000,5845.000000,-19.400000,19.100000,10310.000000,15.000000,0.00,0
2533,0.8,0.8,1.2,0.9,0.4,0.6,0.8,1.1,1.5,1.5,...,0.06000,7.800000,-0.640000,5845.000000,-9.600000,35.200000,10275.000000,-35.000000,0.00,0
2534,1.3,0.9,1.5,1.2,1.6,1.8,1.1,1.0,1.9,2.0,...,0.25000,7.720000,-0.890000,5845.000000,-19.600000,34.200000,10245.000000,-30.000000,0.05,0
2535,1.5,1.3,1.8,1.4,1.2,1.7,1.6,1.4,1.6,3.0,...,0.54000,13.070000,9.150000,5820.000000,1.950000,39.350000,10220.000000,-25.000000,0.00,0

In [35]:
#https://openml.org/search?type=data&status=active&id=1068
pc1 = loadarff('../data/data_original/pc1.arff')
pc1 = pd.DataFrame(pc1[0])
pc1.rename(columns={'defects': 'target'}, inplace=True)
pc1['target'] = pc1['target'].apply(lambda x: 1 if x == b'true' else 0)
pc1.to_csv('../data/data_prepared/pc1.csv', index=False)
info_df.append(info_dict('pc1', pc1, []))
basic_information(pc1)
pc1

Total NA: 0
Imbalance: target
0    1032
1      77
Name: count, dtype: int64
Dtyoes: loc                  float64
v(g)                 float64
ev(g)                float64
iv(G)                float64
N                    float64
V                    float64
L                    float64
D                    float64
I                    float64
E                    float64
B                    float64
T                    float64
lOCode               float64
lOComment            float64
locCodeAndComment    float64
lOBlank              float64
uniq_Op              float64
uniq_Opnd            float64
total_Op             float64
total_Opnd           float64
branchCount          float64
target                 int64
dtype: object
duplicates 155

,loc,v(g),ev(g),iv(G),N,V,L,D,I,E,...,lOCode,lOComment,locCodeAndComment,lOBlank,uniq_Op,uniq_Opnd,total_Op,total_Opnd,branchCount,target
0,1.1,1.4,1.4,1.4,1.3,1.30,1.30,1.30,1.30,1.30,...,2.0,2.0,2.0,2.0,1.2,1.2,1.2,1.2,1.4,0
1,1.0,1.0,1.0,1.0,1.0,1.00,1.00,1.00,1.00,1.00,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1
2,91.0,9.0,3.0,2.0,318.0,2089.21,0.04,27.68,75.47,57833.24,...,80.0,44.0,11.0,31.0,29.0,66.0,192.0,126.0,17.0,1
3,109.0,21.0,5.0,18.0,381.0,2547.56,0.04,28.37,89.79,72282.68,...,97.0,41.0,12.0,24.0,28.0,75.0,229.0,152.0,38.0,1
4,505.0,106.0,41.0,82.0,2339.0,20696.93,0.01,75.93,272.58,1571506.88,...,457.0,71.0,48.0,49.0,64.0,397.0,1397.0,942.0,178.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1104,6.0,4.0,4.0,1.0,26.0,96.21,0.08,13.33,7.22,1282.82,...,6.0,0.0,0.0,2.0,10.0,3.0,18.0,8.0,7.0,0
1105,10.0,5.0,5.0,1.0,43.0,182.66,0.05,21.00,8.70,3835.88,...,10.0,0.0,0.0,1.0,14.0,5.0,28.0,15.0,9.0,0
1106,5.0,3.0,3.0,1.0,17.0,62.91,0.21,4.80,13.11,301.96,...,5.0,0.0,0.0,0.0,8.0,5.0,11.0,6.0,5.0,0
1107,18.0,8.0,5.0,5.0,111.0,613.12,0.04,22.92,26.75,14050.56,...,18.0,0.0,0.0,1.0,22.0,24.0,61.0,50.0,15.0,0
1108,26.0,18.0,13.0,6.0,228.0,1335.62,0.03,35.81,37.29,47834.26,...,26.0,0.0,0.0,1.0,23.0,35.0,119.0,109.0,35.0,0

In [36]:
#https://openml.org/search?type=data&status=active&id=1050
pc3 = loadarff('../data/data_original/pc3.arff')
pc3 = pd.DataFrame(pc3[0])
pc3.rename(columns={'c': 'target'}, inplace=True)
pc3['target'] = pc3['target'].apply(lambda x: 1 if x == b'TRUE' else 0)
pc3.to_csv('../data/data_prepared/pc3.csv', index=False)
info_df.append(info_dict('pc3', pc3, []))
basic_information(pc3)
pc3

Total NA: 0
Imbalance: target
0    1403
1     160
Name: count, dtype: int64
Dtyoes: LOC_BLANK                          float64
BRANCH_COUNT                       float64
CALL_PAIRS                         float64
LOC_CODE_AND_COMMENT               float64
LOC_COMMENTS                       float64
CONDITION_COUNT                    float64
CYCLOMATIC_COMPLEXITY              float64
CYCLOMATIC_DENSITY                 float64
DECISION_COUNT                     float64
DECISION_DENSITY                   float64
DESIGN_COMPLEXITY                  float64
DESIGN_DENSITY                     float64
EDGE_COUNT                         float64
ESSENTIAL_COMPLEXITY               float64
ESSENTIAL_DENSITY                  float64
LOC_EXECUTABLE                     float64
PARAMETER_COUNT                    float64
HALSTEAD_CONTENT                   float64
HALSTEAD_DIFFICULTY                float64
HALSTEAD_EFFORT                    float64
HALSTEAD_ERROR_EST                 float64
HALSTEAD_LENGTH                    float64
HALSTEAD_LEVEL                     float64
HALSTEAD_PROG_TIME                 float64
HALSTEAD_VOLUME                    float64
MAINTENANCE_SEVERITY               float64
MODIFIED_CONDITION_COUNT           float64
MULTIPLE_CONDITION_COUNT           float64
NODE_COUNT                         float64
NORMALIZED_CYLOMATIC_COMPLEXITY    float64
NUM_OPERANDS                       float64
NUM_OPERATORS                      float64
NUM_UNIQUE_OPERANDS                float64
NUM_UNIQUE_OPERATORS               float64
NUMBER_OF_LINES                    float64
PERCENT_COMMENTS                   float64
LOC_TOTAL                          float64
target                               int64
dtype: object
duplicates 124

,LOC_BLANK,BRANCH_COUNT,CALL_PAIRS,LOC_CODE_AND_COMMENT,LOC_COMMENTS,CONDITION_COUNT,CYCLOMATIC_COMPLEXITY,CYCLOMATIC_DENSITY,DECISION_COUNT,DECISION_DENSITY,...,NODE_COUNT,NORMALIZED_CYLOMATIC_COMPLEXITY,NUM_OPERANDS,NUM_OPERATORS,NUM_UNIQUE_OPERANDS,NUM_UNIQUE_OPERATORS,NUMBER_OF_LINES,PERCENT_COMMENTS,LOC_TOTAL,target
0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.10,0.0,0.00,...,2.0,0.08,28.0,29.0,9.0,5.0,13.0,0.00,10.0,0
1,1.0,1.0,4.0,0.0,0.0,0.0,1.0,0.07,0.0,0.00,...,6.0,0.06,52.0,55.0,26.0,14.0,16.0,0.00,14.0,0
2,27.0,19.0,1.0,4.0,13.0,26.0,11.0,0.26,12.0,2.17,...,25.0,0.13,58.0,78.0,30.0,24.0,83.0,30.91,42.0,0
3,2.0,17.0,2.0,0.0,0.0,24.0,9.0,0.47,8.0,3.00,...,25.0,0.41,73.0,81.0,23.0,20.0,22.0,0.00,19.0,0
4,6.0,1.0,1.0,0.0,2.0,0.0,1.0,0.11,0.0,0.00,...,3.0,0.06,19.0,23.0,15.0,7.0,18.0,18.18,9.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1558,6.0,3.0,3.0,0.0,8.0,4.0,2.0,0.40,2.0,2.00,...,7.0,0.10,16.0,20.0,13.0,9.0,20.0,61.54,5.0,0
1559,3.0,5.0,3.0,0.0,0.0,6.0,3.0,0.33,2.0,3.00,...,9.0,0.23,20.0,32.0,10.0,14.0,13.0,0.00,9.0,0
1560,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.00,0.0,0.00,...,2.0,1.00,0.0,2.0,0.0,2.0,1.0,0.00,0.0,0
1561,0.0,7.0,0.0,0.0,0.0,10.0,4.0,0.36,4.0,2.50,...,9.0,0.33,19.0,23.0,13.0,16.0,12.0,0.00,11.0,0
1562,1.0,9.0,0.0,0.0,0.0,16.0,5.0,0.45,8.0,2.00,...,15.0,0.38,17.0,24.0,5.0,11.0,13.0,0.00,11.0,0

In [37]:
#https://openml.org/search?type=data&status=active&id=45077
#normal loading doesn't work
with open("../data/data_original/qsar.arff", "r") as file:
    dataset = arff.load(file)
    
qsar = pd.DataFrame(dataset['data'], columns=[x[0] for x in dataset['attributes']])
qsar.rename(columns={'class': 'target'}, inplace=True)
qsar['target'] = qsar['target'].apply(lambda x: 0 if x == 'NRB' else 1)
qsar.to_csv('../data/data_prepared/qsar.csv', index=False)
info_df.append(info_dict('qsar', qsar, ['39', '20', '28', '23', '3', '22', '34', '19', '25', '24']))
basic_information(qsar)
qsar

Total NA: 0
Imbalance: target
0    699
1    356
Name: count, dtype: int64
Dtyoes: 0         float64
1         float64
7         float64
11        float64
12        float64
13        float64
14        float64
16        float64
17        float64
21        float64
26        float64
27        float64
29        float64
30        float64
35        float64
36        float64
38        float64
2           int64
4           int64
5           int64
6           int64
8           int64
9           int64
10          int64
15          int64
31          int64
32          int64
33          int64
37          int64
40          int64
39         object
20         object
28         object
23         object
3          object
22         object
34         object
19         object
25         object
24         object
target      int64
dtype: object
duplicates 3

,0,1,7,11,12,13,14,16,17,21,...,20,28,23,3,22,34,19,25,24,target
0,5.098,3.4015,26.1,0.000,2.859,1.500,9.872,0.983,1.157,1.138,...,0,0,0,0,0,2,0,0,0,0
1,4.170,3.6942,33.3,0.090,3.245,0.971,8.597,1.123,1.110,1.380,...,0,0,0,0,0,0,0,0,0,0
2,5.437,2.5380,50.0,0.000,4.239,0.954,10.890,1.029,1.094,1.375,...,1,0,0,0,2,0,0,0,1,0
3,5.039,2.6275,50.0,-0.790,3.589,1.217,10.309,1.003,1.104,1.290,...,0,0,0,0,3,1,0,0,0,0
4,4.883,2.8874,40.0,-0.383,3.607,1.831,10.332,0.998,1.127,1.264,...,0,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1050,4.796,3.1573,44.4,-0.872,3.239,1.185,9.882,1.011,1.116,1.248,...,0,0,0,0,1,1,0,0,0,1
1051,5.265,3.3444,35.3,0.134,3.998,2.353,10.632,1.012,1.123,1.296,...,0,0,0,0,1,0,0,0,0,0
1052,3.902,2.6931,30.8,0.000,3.401,2.322,8.881,0.985,1.139,1.241,...,0,0,0,0,0,0,0,0,1,0
1053,3.956,2.8079,31.9,0.000,3.413,2.974,9.377,0.960,1.141,1.208,...,0,0,0,0,0,0,0,0,0,1
1054,5.318,3.1083,40.0,0.000,3.272,1.160,10.388,0.981,1.125,1.263,...,0,0,0,0,1,1,0,0,0,0

In [38]:
#https://archive.ics.uci.edu/dataset/329/diabetic+retinopathy+debrecen
retinopathy = loadarff('../data/data_original/retinopathy.arff')
retinopathy = pd.DataFrame(retinopathy[0])
retinopathy.rename(columns={'Class': 'target'}, inplace=True)
retinopathy['target'] = retinopathy['target'].apply(lambda x: 0 if x == b'0' else 1)
retinopathy.to_csv('../data/data_prepared/retinopathy.csv', index=False)
info_df.append(info_dict('retinopathy', retinopathy, []))
basic_information(retinopathy)
retinopathy

Total NA: 0
Imbalance: target
1    611
0    540
Name: count, dtype: int64
Dtyoes: 0         float64
1         float64
2         float64
3         float64
4         float64
5         float64
6         float64
7         float64
8         float64
9         float64
10        float64
11        float64
12        float64
13        float64
14        float64
15        float64
16        float64
17        float64
18        float64
target      int64
dtype: object
duplicates 5

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,target
0,1.0,1.0,22.0,22.0,22.0,19.0,18.0,14.0,49.895756,17.775994,5.270920,0.771761,0.018632,0.006864,0.003923,0.003923,0.486903,0.100025,1.0,0
1,1.0,1.0,24.0,24.0,22.0,18.0,16.0,13.0,57.709936,23.799994,3.325423,0.234185,0.003903,0.003903,0.003903,0.003903,0.520908,0.144414,0.0,0
2,1.0,1.0,62.0,60.0,59.0,54.0,47.0,33.0,55.831441,27.993933,12.687485,4.852282,1.393889,0.373252,0.041817,0.007744,0.530904,0.128548,0.0,1
3,1.0,1.0,55.0,53.0,53.0,50.0,43.0,31.0,40.467228,18.445954,9.118901,3.079428,0.840261,0.272434,0.007653,0.001531,0.483284,0.114790,0.0,0
4,1.0,1.0,44.0,44.0,44.0,41.0,39.0,27.0,18.026254,8.570709,0.410381,0.000000,0.000000,0.000000,0.000000,0.000000,0.475935,0.123572,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,1.0,1.0,34.0,34.0,34.0,33.0,31.0,24.0,6.071765,0.937472,0.031145,0.003115,0.000000,0.000000,0.000000,0.000000,0.537470,0.116795,0.0,0
1147,1.0,1.0,49.0,49.0,49.0,49.0,45.0,37.0,63.197145,27.377668,8.067688,0.979548,0.001552,0.000000,0.000000,0.000000,0.516733,0.124190,0.0,0
1148,1.0,0.0,49.0,48.0,48.0,45.0,43.0,33.0,30.461898,13.966980,1.763305,0.137858,0.011221,0.000000,0.000000,0.000000,0.560632,0.129843,0.0,0
1149,1.0,1.0,39.0,36.0,29.0,23.0,13.0,7.0,40.525739,12.604947,4.740919,1.077570,0.563518,0.326860,0.239568,0.174584,0.485972,0.106690,1.0,1
1150,1.0,1.0,7.0,7.0,7.0,7.0,7.0,5.0,69.423565,7.031843,1.750548,0.046597,0.021180,0.008472,0.000000,0.000000,0.556192,0.088957,0.0,0

In [39]:
scene = loadarff('../data/data_original/scene.arff')
scene = pd.DataFrame(scene[0])
scene.rename(columns={'Beach': 'target'}, inplace=True)
scene.drop(columns=['Sunset', 'FallFoliage', 'Field', 'Mountain', 'Urban'], inplace=True)
scene['target'] = scene['target'].apply(lambda x: 1 if x == b'TRUE' else 0)
scene.to_csv('../data/data_prepared/scene.csv', index=False)
info_df.append(info_dict('scene', scene, []))
basic_information(scene)
scene

Total NA: 0
Imbalance: target
0    1980
1     427
Name: count, dtype: int64
Dtyoes: Att1      float64
Att2      float64
Att3      float64
Att4      float64
Att5      float64
           ...
Att291    float64
Att292    float64
Att293    float64
Att294    float64
target      int64
Length: 295, dtype: object
duplicates 9

,Att1,Att2,Att3,Att4,Att5,Att6,Att7,Att8,Att9,Att10,...,Att286,Att287,Att288,Att289,Att290,Att291,Att292,Att293,Att294,target
0,0.646467,0.666435,0.685047,0.699053,0.652746,0.407864,0.150309,0.535193,0.555689,0.580782,...,0.049615,0.068962,0.653879,0.354982,0.124074,0.157332,0.247298,0.014025,0.029709,1
1,0.770156,0.767255,0.761053,0.745630,0.742231,0.688086,0.708416,0.757351,0.760633,0.740314,...,0.160008,0.414088,0.361843,0.303399,0.176387,0.251454,0.137833,0.082672,0.036320,1
2,0.793984,0.772096,0.761820,0.762213,0.740569,0.734361,0.722677,0.849128,0.839607,0.812746,...,0.038082,0.079977,0.004901,0.003460,0.006049,0.017166,0.051125,0.112506,0.083924,1
3,0.938563,0.949260,0.955621,0.966743,0.968649,0.869619,0.696925,0.953460,0.959631,0.966320,...,0.016922,0.024174,0.036799,0.007694,0.009735,0.019267,0.031290,0.049780,0.090959,1
4,0.512130,0.524684,0.520020,0.504467,0.471209,0.417654,0.364292,0.562266,0.588592,0.584449,...,0.023177,0.129994,0.167709,0.226580,0.218534,0.198151,0.238796,0.164270,0.184290,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2402,0.875782,0.901653,0.926227,0.721366,0.795826,0.867642,0.794125,0.899067,0.908963,0.895336,...,0.061081,0.121834,0.378950,0.366901,0.211351,0.215147,0.279607,0.254413,0.134350,0
2403,0.657706,0.669877,0.692338,0.713920,0.727374,0.750354,0.684372,0.718770,0.719916,0.730645,...,0.079166,0.034408,0.095084,0.025579,0.013329,0.217201,0.199491,0.048747,0.041638,0
2404,0.952281,0.944987,0.905556,0.836604,0.875916,0.957034,0.953938,0.967956,0.819636,0.707311,...,0.050678,0.020770,0.022791,0.033978,0.023563,0.028002,0.031900,0.017547,0.019734,0
2405,0.883990,0.899004,0.901019,0.904298,0.846402,0.858145,0.851362,0.852472,0.876665,0.908187,...,0.111811,0.148926,0.097985,0.361665,0.200352,0.239041,0.256158,0.226332,0.223070,0
2406,0.974915,0.866425,0.818144,0.936140,0.938583,0.935087,0.930597,1.000000,0.806074,0.717955,...,0.002082,0.001343,0.151318,0.061375,0.072015,0.073742,0.005131,0.025059,0.004033,0

In [40]:
#https://openml.org/search?type=data&status=active&id=44
spam = loadarff('../data/data_original/spam.arff')
spam = pd.DataFrame(spam[0])
spam.rename(columns={'class': 'target'}, inplace=True)
spam['target'] = spam['target'].apply(lambda x: 1 if x == b'1' else 0)
spam.to_csv('../data/data_prepared/spam.csv', index=False)
info_df.append(info_dict('spam', spam, []))
basic_information(spam)
spam

Total NA: 0
Imbalance: target
0    2788
1    1813
Name: count, dtype: int64
Dtyoes: word_freq_make                float64
word_freq_address             float64
word_freq_all                 float64
word_freq_3d                  float64
word_freq_our                 float64
word_freq_over                float64
word_freq_remove              float64
word_freq_internet            float64
word_freq_order               float64
word_freq_mail                float64
word_freq_receive             float64
word_freq_will                float64
word_freq_people              float64
word_freq_report              float64
word_freq_addresses           float64
word_freq_free                float64
word_freq_business            float64
word_freq_email               float64
word_freq_you                 float64
word_freq_credit              float64
word_freq_your                float64
word_freq_font                float64
word_freq_000                 float64
word_freq_money               float64
word_freq_hp                  float64
word_freq_hpl                 float64
word_freq_george              float64
word_freq_650                 float64
word_freq_lab                 float64
word_freq_labs                float64
word_freq_telnet              float64
word_freq_857                 float64
word_freq_data                float64
word_freq_415                 float64
word_freq_85                  float64
word_freq_technology          float64
word_freq_1999                float64
word_freq_parts               float64
word_freq_pm                  float64
word_freq_direct              float64
word_freq_cs                  float64
word_freq_meeting             float64
word_freq_original            float64
word_freq_project             float64
word_freq_re                  float64
word_freq_edu                 float64
word_freq_table               float64
word_freq_conference          float64
char_freq_%3B                 float64
char_freq_%28                 float64
char_freq_%5B                 float64
char_freq_%21                 float64
char_freq_%24                 float64
char_freq_%23                 float64
capital_run_length_average    float64
capital_run_length_longest    float64
capital_run_length_total      float64
target                          int64
dtype: object
duplicates 391

,word_freq_make,word_freq_address,word_freq_all,word_freq_3d,word_freq_our,word_freq_over,word_freq_remove,word_freq_internet,word_freq_order,word_freq_mail,...,char_freq_%3B,char_freq_%28,char_freq_%5B,char_freq_%21,char_freq_%24,char_freq_%23,capital_run_length_average,capital_run_length_longest,capital_run_length_total,target
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.778,0.000,0.000,3.756,61.0,278.0,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101.0,1028.0,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485.0,2259.0,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40.0,191.0,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40.0,191.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3.0,88.0,0
4597,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4.0,14.0,0
4598,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6.0,118.0,0
4599,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5.0,78.0,0
4600,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5.0,40.0,0

In [41]:
#https://openml.org/search?type=data&status=active&id=336
spect = loadarff('../data/data_original/spect.arff')
spect = pd.DataFrame(spect[0])
spect.rename(columns={'OVERALL_DIAGNOSIS': 'target'}, inplace=True)
spect = spect.applymap(lambda x: 1 if x == b'1' else 0)
spect = spect.iloc[:, 1:].join(spect.iloc[:, 0])
#spect.replace({1:0, 0:1},  inplace=True)
spect.to_csv('../data/data_prepared/spect.csv', index=False)
info_df.append(info_dict('spect', spect, list(set(list(spect.columns)) - set(['target']))))
basic_information(spect)
spect

Total NA: 0
Imbalance: target
1    212
0     55
Name: count, dtype: int64
Dtyoes: F1        int64
F2        int64
F3        int64
F4        int64
F5        int64
F6        int64
F7        int64
F8        int64
F9        int64
F10       int64
F11       int64
F12       int64
F13       int64
F14       int64
F15       int64
F16       int64
F17       int64
F18       int64
F19       int64
F20       int64
F21       int64
F22       int64
target    int64
dtype: object
duplicates 39

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F14,F15,F16,F17,F18,F19,F20,F21,F22,target
0,0,0,0,1,0,0,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1
1,0,0,1,1,0,0,0,1,1,0,...,1,0,0,0,0,0,0,0,1,1
2,1,0,1,0,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,1
4,0,0,0,0,0,0,0,1,0,0,...,0,1,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
263,1,1,0,0,0,1,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
264,1,0,1,0,1,0,0,1,0,0,...,0,1,1,0,0,0,0,0,0,0
265,1,0,1,0,1,0,0,1,1,0,...,1,0,1,0,0,0,0,0,0,0
266,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
info_df = pd.DataFrame(info_df)
info_df.to_csv('../data/data_info.csv', index=False)
info_df = pd.read_csv('../data/data_info.csv')
info_df

,name,n_samples,n_features,imbalance,categoricals,n_categoricals,train_indices,test_indices
0,blood,748,4,0.237968,[],0,"[[255, 174, 420, 341, 186, 512, 635, 190, 450,...","[[343, 644, 607, 22, 82, 105, 681, 292, 451, 5..."
1,clima,540,18,0.085185,[],0,"[[415, 226, 396, 408, 216, 65, 104, 247, 195, ...","[[512, 500, 289, 458, 86, 493, 32, 225, 454, 5..."
2,eeg,14980,14,0.448798,[],0,"[[4155, 5750, 12565, 7790, 12551, 963, 14035, ...","[[5237, 10277, 9601, 1187, 5396, 7470, 10820, ..."
3,fertility,100,9,0.120000,"['season', 'child_diseases', 'accident', 'surg...",7,"[[61, 5, 1, 70, 24, 40, 63, 52, 91, 99, 32, 47...","[[74, 46, 2, 33, 82, 25, 26, 11, 90, 15, 71, 8..."
4,gina,3153,970,0.491595,[],0,"[[2470, 503, 112, 1455, 1167, 1112, 2227, 1308...","[[49, 918, 536, 2682, 1079, 2440, 1168, 2148, ..."
5,hill,1212,100,0.500000,[],0,"[[113, 547, 693, 906, 753, 537, 979, 803, 169,...","[[331, 231, 1044, 85, 882, 835, 155, 570, 253,..."
6,ilpd,583,10,0.286449,[],0,"[[450, 56, 460, 93, 429, 482, 331, 112, 447, 4...","[[47, 381, 31, 68, 540, 465, 192, 578, 285, 31..."
7,kc,2109,21,0.154576,[],0,"[[571, 2078, 248, 1348, 549, 603, 1085, 466, 1...","[[81, 968, 757, 193, 823, 1191, 1079, 1858, 17..."
8,liver,345,6,0.420290,[],0,"[[194, 281, 228, 140, 78, 40, 302, 285, 43, 15...","[[130, 52, 238, 125, 249, 204, 257, 307, 4, 79..."
9,musk,476,166,0.434874,[],0,"[[246, 107, 32, 180, 92, 46, 319, 132, 396, 14...","[[442, 423, 363, 43, 237, 407, 283, 271, 244, ..."
10,ozone,2536,72,0.028785,[],0,"[[926, 1160, 578, 1771, 1603, 398, 1857, 115, ...","[[1712, 550, 647, 256, 2310, 1123, 1640, 160, ..."
11,pc1,1109,21,0.069432,[],0,"[[411, 882, 514, 818, 999, 1033, 937, 414, 70,...","[[622, 705, 356, 1037, 45, 458, 783, 634, 283,..."
12,pc3,1563,37,0.102367,[],0,"[[1209, 217, 3, 884, 1225, 1269, 1126, 938, 92...","[[188, 529, 666, 399, 1167, 1334, 1547, 1505, ..."
13,qsar,1055,40,0.337441,"['39', '20', '28', '23', '3', '22', '34', '19'...",10,"[[771, 140, 443, 373, 899, 185, 5, 207, 719, 5...","[[958, 233, 609, 413, 754, 129, 472, 361, 1012..."
14,retinopathy,1151,19,0.469157,[],0,"[[147, 360, 955, 914, 312, 274, 945, 508, 1122...","[[992, 49, 691, 1054, 335, 726, 1080, 1087, 76..."
15,scene,2407,294,0.177399,[],0,"[[363, 2336, 1438, 464, 757, 475, 222, 2382, 8...","[[807, 1818, 611, 2304, 332, 2079, 625, 2, 216..."
16,spam,4601,57,0.394045,[],0,"[[3536, 2513, 1238, 1016, 3100, 202, 1598, 625...","[[3882, 4360, 4482, 3941, 1744, 2045, 2678, 23..."
17,spect,267,22,0.205993,"['F9', 'F15', 'F11', 'F7', 'F19', 'F12', 'F17'...",22,"[[138, 147, 235, 229, 13, 61, 257, 75, 246, 89...","[[249, 191, 117, 30, 36, 45, 116, 32, 41, 123,..."