In [39]:
import pandas as pd
import numpy as np
import arff
from scipy.io.arff import loadarff
from sklearn.preprocessing import StandardScaler
from utils import *
import sys
import os
sys.path.insert(0, os.path.abspath("../.."))

In [40]:
info_df = []
scaler = StandardScaler()

In [41]:
#https://archive.ics.uci.edu/dataset/713/auction+verification
auction = pd.read_csv('../data/data_original/auction.csv')
auction.rename(columns={'verification.result': 'target'}, inplace=True)
auction.replace({True: 1, False: 0}, inplace=True)
auction = auction[[c for c in auction.columns if c != 'target'] + ['target']]
auction.drop(columns=['verification.time'], inplace=True) # other feature

categoricals = []
numericals = list(set(auction.columns) - set(categoricals) - {'target'})
auction[numericals] = scaler.fit_transform(auction[numericals])

basic_information(auction)
auction.to_csv('../data/data_prepared/auction.csv', index=False)
info_df.append(info_dict('auction', auction, categoricals))

auction

Total NA: 0
Imbalance: target
0    1781
1     262
Name: count, dtype: int64
Dtyoes: process.b1.capacity    float64
process.b2.capacity    float64
process.b3.capacity    float64
process.b4.capacity    float64
property.price         float64
property.product       float64
property.winner        float64
target                   int64
dtype: object
duplicates 0

,process.b1.capacity,process.b2.capacity,process.b3.capacity,process.b4.capacity,property.price,property.product,property.winner,target
0,-1.224745,-2.581749,0.362256,0.837307,-1.550103,-1.248531,-0.428408,0
1,-1.224745,-2.581749,0.362256,0.837307,-1.550103,-0.694141,-0.428408,0
2,-1.224745,-2.581749,0.362256,0.837307,-1.550103,0.414639,-0.428408,0
3,-1.224745,-2.581749,0.362256,0.837307,-1.550103,1.523420,-0.428408,0
4,-1.224745,-2.581749,0.362256,0.837307,-1.425830,-1.248531,-0.428408,1
...,...,...,...,...,...,...,...,...
2038,1.224745,1.117068,0.362256,0.837307,2.302374,0.969029,-0.428408,1
2039,1.224745,1.117068,0.362256,0.837307,2.302374,0.969029,0.512708,1
2040,1.224745,1.117068,0.362256,0.837307,2.302374,0.969029,1.453824,0
2041,1.224745,1.117068,0.362256,0.837307,2.302374,0.969029,2.394940,0
2042,1.224745,1.117068,0.362256,0.837307,2.302374,0.969029,3.336056,1

In [42]:
#https://archive.ics.uci.edu/dataset/426/autism+screening+adult
with open("../data/data_original/autism.arff", "r") as file:
    dataset = arff.load(file)
autism =  pd.DataFrame(dataset['data'], columns=[x[0] for x in dataset['attributes']])
autism['Class/ASD'].replace({'NO': 0, 'YES': 1}, inplace=True)
autism.rename(columns={'Class/ASD': 'target'}, inplace=True)
autism.drop(columns=['ethnicity', 'relation', 'age', 'contry_of_res'], inplace = True) # NAs

cols = ['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score', 'A6_Score',
        'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score', 'result']

autism[cols] = autism[cols].apply(pd.to_numeric, errors='coerce').astype('int32')

categoricals = ['gender', 'jundice', 'austim',  'used_app_before', 'age_desc'] # in this case to one hot encode, others bianry already
numericals = ['result']
autism[numericals] = scaler.fit_transform(autism[numericals])


autism = pd.get_dummies(autism, columns= categoricals).replace({True: 1, False: 0})
autism = autism[[c for c in autism.columns if c != 'target'] + ['target']]
autism.drop_duplicates(inplace=True)
autism.reset_index(drop=True, inplace=True)

basic_information(autism)
autism.to_csv('../data/data_prepared/autism.csv', index=False)
info_df.append(info_dict('autism', autism, set(autism.columns) - {'target', 'result'}))
autism

Total NA: 0
Imbalance: target
0    358
1    127
Name: count, dtype: int64
Dtyoes: A1_Score                  int32
A2_Score                  int32
A3_Score                  int32
A4_Score                  int32
A5_Score                  int32
A6_Score                  int32
A7_Score                  int32
A8_Score                  int32
A9_Score                  int32
A10_Score                 int32
result                  float64
gender_f                  int64
gender_m                  int64
jundice_no                int64
jundice_yes               int64
austim_no                 int64
austim_yes                int64
used_app_before_no        int64
used_app_before_yes       int64
age_desc_18 and more      int64
target                    int64
dtype: object
duplicates 0

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender_f,gender_m,jundice_no,jundice_yes,austim_no,austim_yes,used_app_before_no,used_app_before_yes,age_desc_18 and more,target
0,1,1,1,1,0,0,1,1,0,0,...,1,0,1,0,1,0,1,0,1,0
1,1,1,0,1,0,0,0,1,0,1,...,0,1,1,0,0,1,1,0,1,0
2,1,1,0,1,1,0,1,1,1,1,...,0,1,0,1,0,1,1,0,1,1
3,1,1,0,1,0,0,1,1,0,1,...,1,0,1,0,0,1,1,0,1,0
4,1,0,0,0,0,0,0,1,0,0,...,1,0,1,0,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480,1,1,1,1,1,1,0,1,1,1,...,0,1,1,0,0,1,1,0,1,1
481,1,1,1,1,1,0,0,0,0,1,...,1,0,1,0,1,0,1,0,1,0
482,0,1,0,1,1,0,1,1,1,1,...,1,0,1,0,1,0,1,0,1,1
483,1,0,0,1,1,0,1,0,1,1,...,0,1,1,0,1,0,1,0,1,0
484,1,0,1,1,1,0,1,1,1,1,...,1,0,1,0,1,0,1,0,1,1

In [43]:
#https://www.openml.org/search?type=data&status=active&id=481
with open("../data/data_original/biomed.arff", "r") as file:
    dataset = arff.load(file)
biomed =  pd.DataFrame(dataset['data'], columns=[x[0] for x in dataset['attributes']])
biomed.rename(columns={'class': 'target'}, inplace=True)
biomed['target'].replace({'carrier': 1, 'normal': 0}, inplace=True)
biomed.drop(columns=['Observation_number', 'Hospital_identification_number_for_blood_sample', 'Date_that_blood_sample_was_taken'], inplace=True) #fea2 contaisn na
biomed = biomed.fillna(biomed.mean(numeric_only=True)) # only 7/8 instances for 2 feautres...

numericals = list(set(biomed.columns) - {'target'})
biomed[numericals] = scaler.fit_transform(biomed[numericals])

basic_information(biomed)
biomed.to_csv('../data/data_prepared/biomed.csv', index=False)
info_df.append(info_dict('biomed', biomed, []))

biomed

Total NA: 0
Imbalance: target
0    134
1     75
Name: count, dtype: int64
Dtyoes: Age_of_patient    float64
ml                float64
m2                float64
m3                float64
m4                float64
target              int64
dtype: object
duplicates 0

     Age_of_patient        ml        m2        m3        m4  target
0         -0.252325  0.489979  0.223668  0.642052  2.281867       1
1          1.033915  0.076940 -0.432522  0.729330  0.640245       1
2         -1.187772 -0.408218  1.782117 -0.579831  1.178256       1
3         -1.187772 -0.316432  1.454023  0.045657 -0.366801       1
4         -1.421633 -0.178752  0.059620  0.511136 -0.008127       1
..              ...       ...       ...       ...       ...     ...
204       -0.018463 -0.336100 -0.637581 -0.427095 -0.104693       0
205       -0.018463 -0.322988  0.100632 -0.783478 -0.863426       0
206       -0.018463 -0.408218  0.346703 -0.107078 -0.863426       0
207        0.098468 -0.408218 -0.104427 -0.390730 -0.311620       0
208        0.098468 -0.322988  0.182656  0.256577 -0.325415       0

[209 rows x 6 columns]

In [44]:
#https://www.openml.org/search?type=data&status=active&id=46422
with open("../data/data_original/credit.arff", "r") as file:
    dataset = arff.load(file)
credit =  pd.DataFrame(dataset['data'], columns=[x[0] for x in dataset['attributes']])
credit.rename(columns={'label': 'target'}, inplace=True)
credit.drop(columns=['id', 'fea_2'], inplace=True) #fea2 contaisn na
credit = credit[[c for c in credit.columns if c != 'target'] + ['target']]

numericals = ['fea_4', 'fea_8', 'fea_10', 'fea_11']
credit[numericals] = scaler.fit_transform(credit[numericals])

basic_information(credit)
credit.to_csv('../data/data_prepared/credit.csv', index=False)
info_df.append(info_dict('credit', credit, list(set(list(credit.columns)) - set(numericals) - {'target'})))

credit

Total NA: 0
Imbalance: target
0    900
1    225
Name: count, dtype: int64
Dtyoes: fea_4       float64
fea_8       float64
fea_10      float64
fea_11      float64
fea_1_1      object
fea_1_2      object
fea_1_4      object
fea_1_5      object
fea_1_6      object
fea_1_7      object
fea_3_1      object
fea_3_2      object
fea_3_3      object
fea_5_1      object
fea_5_2      object
fea_6_3      object
fea_6_4      object
fea_6_5      object
fea_6_6      object
fea_6_8      object
fea_6_9      object
fea_6_11     object
fea_6_12     object
fea_6_15     object
fea_6_16     object
fea_7_-1     object
fea_7_1      object
fea_7_2      object
fea_7_3      object
fea_7_4      object
fea_7_5      object
fea_7_7      object
fea_7_8      object
fea_7_9      object
fea_7_10     object
fea_9_1      object
fea_9_2      object
fea_9_3      object
fea_9_4      object
fea_9_5      object
target       object
dtype: object
duplicates 0

,fea_4,fea_8,fea_10,fea_11,fea_1_1,fea_1_2,fea_1_4,fea_1_5,fea_1_6,fea_1_7,...,fea_7_7,fea_7_8,fea_7_9,fea_7_10,fea_9_1,fea_9_2,fea_9_3,fea_9_4,fea_9_5,target
0,-0.496387,0.684045,-0.087361,0.976754,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,1
1,-0.089175,-0.066980,1.161938,0.641174,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,-0.123109,0.016467,-0.607516,-1.190396,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,0.340661,0.767492,-0.685685,-1.190396,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,1
4,-0.699993,0.600597,1.872466,0.554375,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1120,0.589513,0.934386,1.220598,0.577444,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
1121,-0.801797,0.600597,1.871935,0.302052,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1122,-0.507699,-0.901452,-0.614069,-1.190396,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
1123,0.182301,-0.901452,-0.607523,-1.190396,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1124,-0.315404,1.017833,-0.087361,1.233600,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [45]:
#https://www.openml.org/search?type=data&status=active&id=46606
darwin = pd.read_csv('../data/data_original/darwin.csv')
darwin['class'].replace({'P': 0, 'H': 1}, inplace=True)
darwin.rename(columns={'class': 'target'}, inplace=True)
darwin.drop(columns=['ID'], inplace=True)

numericals = list(set(darwin.columns) - {'target'})
darwin[numericals] = scaler.fit_transform(darwin[numericals])


basic_information(darwin)
darwin.to_csv('../data/data_prepared/darwin.csv', index=False)
info_df.append(info_dict('darwin', darwin, []))
darwin

Total NA: 0
Imbalance: target
0    89
1    85
Name: count, dtype: int64
Dtyoes: air_time1           float64
disp_index1         float64
gmrt_in_air1        float64
gmrt_on_paper1      float64
max_x_extension1    float64
                     ...
paper_time25        float64
pressure_mean25     float64
pressure_var25      float64
total_time25        float64
target                int64
Length: 451, dtype: object
duplicates 0

,air_time1,disp_index1,gmrt_in_air1,gmrt_on_paper1,max_x_extension1,max_y_extension1,mean_acc_in_air1,mean_acc_on_paper1,mean_gmrt1,mean_jerk_in_air1,...,mean_jerk_in_air25,mean_jerk_on_paper25,mean_speed_in_air25,mean_speed_on_paper25,num_of_pendown25,paper_time25,pressure_mean25,pressure_var25,total_time25,target
0,-0.039958,0.819201,-0.964281,-1.021048,-0.621190,-0.331301,-0.143336,0.583446,-1.097797,-0.210827,...,-0.110468,1.905814,0.750685,0.368053,-0.541445,-0.157047,0.370324,2.347146,-0.039552,0
1,3.670803,1.863195,-0.994191,-1.051635,-0.172774,-0.149357,-0.377846,-0.541698,-1.131393,-0.371903,...,-1.589980,-0.657467,-1.874750,-2.259487,1.574847,4.390919,-0.386182,2.040903,0.271310,0
2,-0.242853,0.162976,-0.369289,-0.249241,0.216015,-0.697480,-0.077097,0.023550,-0.360783,-0.044734,...,0.482173,-1.159080,-0.315186,-0.563403,-0.431982,0.124509,-0.613046,-0.329030,-0.171900,0
3,-0.280104,0.162976,0.391119,-0.155526,-0.135051,0.382725,0.369034,-0.237507,0.205663,0.306488,...,-0.554289,-0.031154,-0.177609,-1.479491,1.355920,1.304574,-0.506614,1.184202,0.034342,0
4,-0.265837,-0.863121,-0.216284,-0.801634,-0.602937,-1.187857,-0.394751,-0.538220,-0.487082,-0.402728,...,-0.427298,0.394214,-0.770566,-1.400574,0.224798,-0.305967,0.656282,-0.084184,-0.184917,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,-0.216699,0.192805,-0.304940,-0.219107,-0.084551,-0.405545,-0.428185,-0.079988,-0.303509,-0.467604,...,-0.469693,0.409637,0.024091,-0.750764,0.370750,0.075394,0.523924,1.488771,-0.169257,1
170,-0.279311,-0.126359,-0.125060,0.305381,0.045654,0.533046,-0.501228,-0.076007,0.041770,-0.476075,...,0.422544,-0.963424,0.142229,-0.076116,-0.067104,-0.291521,0.297126,-0.042291,0.366555,1
171,-0.145369,-0.415695,-0.796721,-0.264129,-0.420407,0.012880,-0.658966,-0.290898,-0.663293,-0.601541,...,-0.545139,-1.150707,-0.653820,-0.424543,0.078847,0.449926,0.884836,-0.605741,-0.162980,1
172,-0.309428,-0.535008,-0.044427,-0.036774,-0.184943,-0.173189,0.269379,0.353293,-0.046259,0.310226,...,-0.545139,-1.150707,-0.653820,-0.424543,0.078847,0.449926,0.884836,-0.605741,-0.162980,1
173,-0.221058,-0.469386,-0.337474,-0.200312,-0.085160,-0.350091,0.396432,-0.496148,-0.318153,0.429177,...,-0.545139,-1.150707,-0.653820,-0.424543,0.078847,0.449926,0.884836,-0.605741,-0.162980,1

In [46]:
#https://archive.ics.uci.edu/dataset/519/heart+failure+clinical+records
heart = pd.read_csv('../data/data_original/heart.csv')
heart.rename(columns={'DEATH_EVENT': 'target'}, inplace=True)

numericals = ['age', 'creatinine_phosphokinase', 'ejection_fraction', 'platelets', 'serum_creatinine', 'serum_sodium', 'time']
categroicals = list(set(heart.columns) - set(numericals) - {'target'})
heart[numericals] = scaler.fit_transform(heart[numericals])

heart.to_csv('../data/data_prepared/heart.csv', index=False)
info_df.append(info_dict('heart', heart, categoricals))
basic_information(heart)
heart

Total NA: 0
Imbalance: target
0    203
1     96
Name: count, dtype: int64
Dtyoes: age                         float64
anaemia                       int64
creatinine_phosphokinase    float64
diabetes                      int64
ejection_fraction           float64
high_blood_pressure           int64
platelets                   float64
serum_creatinine            float64
serum_sodium                float64
sex                           int64
smoking                       int64
time                        float64
target                        int64
dtype: object
duplicates 0

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,target
0,1.192945,0,0.000166,0,-1.530560,1,1.681648e-02,0.490057,-1.504036,1,0,-1.629502,1
1,-0.491279,0,7.514640,0,-0.007077,0,7.535660e-09,-0.284552,-0.141976,1,0,-1.603691,1
2,0.350833,0,-0.449939,0,-1.530560,0,-1.038073e+00,-0.090900,-1.731046,1,1,-1.590785,1
3,-0.912335,1,-0.486071,0,-1.530560,0,-5.464741e-01,0.490057,0.085034,1,0,-1.590785,1
4,0.350833,1,-0.435486,1,-1.530560,0,6.517986e-01,1.264666,-4.682176,0,0,-1.577879,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,0.098199,0,-0.537688,1,-0.007077,1,-1.109765e+00,-0.284552,1.447094,1,1,1.803451,0
295,-0.491279,0,1.278215,0,-0.007077,0,6.802472e-02,-0.187726,0.539054,0,0,1.816357,0
296,-1.333392,0,1.525979,1,1.854958,0,4.902082e+00,-0.575031,0.312044,0,0,1.906697,0
297,-1.333392,0,1.890398,0,-0.007077,0,-1.263389e+00,0.005926,0.766064,1,1,1.932509,0
298,-0.912335,0,-0.398321,0,0.585389,0,1.348231e+00,0.199578,-0.141976,1,1,1.997038,0

In [47]:
#https://www.openml.org/search?type=data&sort=runs&id=1049&status=active
with open("../data/data_original/pc4.arff", "r") as file:
    dataset = arff.load(file)
pc4 =  pd.DataFrame(dataset['data'], columns=[x[0] for x in dataset['attributes']])
pc4.rename(columns={'c': 'target'}, inplace=True)
pc4['target'] = pc4['target'].replace({'TRUE': 1, 'FALSE': 0})
pc4.drop_duplicates(inplace=True)
pc4.reset_index(drop=True, inplace=True)

numericals = list(set(pc4.columns) - {'target'})
pc4[numericals] = scaler.fit_transform(pc4[numericals])

basic_information(pc4)
pc4.to_csv('../data/data_prepared/pc4.csv', index=False)
info_df.append(info_dict('pc4', pc4, []))
pc4

Total NA: 0
Imbalance: target
0    1167
1     177
Name: count, dtype: int64
Dtyoes: LOC_BLANK                          float64
BRANCH_COUNT                       float64
CALL_PAIRS                         float64
LOC_CODE_AND_COMMENT               float64
LOC_COMMENTS                       float64
CONDITION_COUNT                    float64
CYCLOMATIC_COMPLEXITY              float64
CYCLOMATIC_DENSITY                 float64
DECISION_COUNT                     float64
DECISION_DENSITY                   float64
DESIGN_COMPLEXITY                  float64
DESIGN_DENSITY                     float64
EDGE_COUNT                         float64
ESSENTIAL_COMPLEXITY               float64
ESSENTIAL_DENSITY                  float64
LOC_EXECUTABLE                     float64
PARAMETER_COUNT                    float64
HALSTEAD_CONTENT                   float64
HALSTEAD_DIFFICULTY                float64
HALSTEAD_EFFORT                    float64
HALSTEAD_ERROR_EST                 float64
HALSTEAD_LENGTH                    float64
HALSTEAD_LEVEL                     float64
HALSTEAD_PROG_TIME                 float64
HALSTEAD_VOLUME                    float64
MAINTENANCE_SEVERITY               float64
MODIFIED_CONDITION_COUNT           float64
MULTIPLE_CONDITION_COUNT           float64
NODE_COUNT                         float64
NORMALIZED_CYLOMATIC_COMPLEXITY    float64
NUM_OPERANDS                       float64
NUM_OPERATORS                      float64
NUM_UNIQUE_OPERANDS                float64
NUM_UNIQUE_OPERATORS               float64
NUMBER_OF_LINES                    float64
PERCENT_COMMENTS                   float64
LOC_TOTAL                          float64
target                               int64
dtype: object
duplicates 0

,LOC_BLANK,BRANCH_COUNT,CALL_PAIRS,LOC_CODE_AND_COMMENT,LOC_COMMENTS,CONDITION_COUNT,CYCLOMATIC_COMPLEXITY,CYCLOMATIC_DENSITY,DECISION_COUNT,DECISION_DENSITY,...,NODE_COUNT,NORMALIZED_CYLOMATIC_COMPLEXITY,NUM_OPERANDS,NUM_OPERATORS,NUM_UNIQUE_OPERANDS,NUM_UNIQUE_OPERATORS,NUMBER_OF_LINES,PERCENT_COMMENTS,LOC_TOTAL,target
0,0.949165,0.161286,0.884242,-0.046595,0.283159,0.739363,0.137031,-0.170158,0.840002,0.897077,...,0.379865,-0.379204,0.157483,-0.166248,0.431253,-0.038862,0.329526,0.602949,0.078992,0
1,-0.541926,0.008309,0.199470,-0.410689,-0.432574,0.498524,-0.009019,0.809458,0.321535,0.897077,...,-0.123309,1.225285,-0.385123,-0.399452,-0.324855,0.266577,-0.515708,-0.391566,-0.503056,0
2,-0.541926,-0.297645,-0.485301,-0.228642,-0.432574,-0.103575,-0.301120,-0.422963,-0.196933,1.822381,...,-0.443511,-0.250845,-0.344427,-0.362140,-0.230342,0.266577,-0.338799,-0.366762,-0.153827,0
3,-0.343114,-0.297645,-0.485301,-0.410689,-0.534821,0.016844,-0.301120,-0.012156,0.062301,0.897077,...,-0.306281,0.134233,-0.385123,-0.474078,-0.183085,-0.497020,-0.476395,-0.859573,-0.464253,0
4,-0.044895,-0.297645,-0.485301,0.135451,-0.534821,-0.464835,-0.301120,-0.486164,-0.456166,-0.953531,...,-0.306281,-0.379204,-0.208776,-0.194233,-0.324855,-0.802459,-0.240516,-0.157562,-0.076221,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1339,-0.541926,-0.603599,-0.485301,-0.410689,-0.534821,-0.464835,-0.593220,-0.517764,-0.456166,-0.953531,...,-0.626483,-0.507563,-0.452948,-0.483406,-0.419369,-0.649739,-0.574678,-0.859573,-0.580662,0
1340,0.849759,1.002660,0.541856,2.866153,0.180911,0.859783,1.451483,-0.170158,0.840002,0.897077,...,0.700067,0.070053,1.134173,1.941918,0.525767,2.557369,0.879912,0.886561,1.475908,0
1341,0.452135,-0.450622,1.911399,-0.410689,0.078664,-0.223995,-0.447170,-0.612566,-0.196933,0.897077,...,-0.123309,-0.764281,-0.181646,-0.250202,0.242226,0.113858,-0.024293,0.263644,-0.115024,0
1342,0.054511,0.008309,-0.827687,-0.410689,0.487654,-0.464835,-0.009019,0.367050,-0.456166,-0.953531,...,-0.306281,-0.058306,-0.290167,-0.268858,-0.230342,1.182894,-0.161889,1.267519,-0.386646,0
1343,-0.343114,-0.603599,-0.485301,-0.410689,-0.432574,-0.464835,-0.593220,-0.170158,-0.456166,-0.953531,...,-0.626483,-0.507563,-0.452948,-0.455421,-0.324855,-0.191581,-0.574678,0.076441,-0.697072,0

In [48]:
#https://openml.org/search?type=data&status=active&id=46082
with open("../data/data_original/thyroid.arff", "r") as file:
    dataset = arff.load(file)
thyroid =  pd.DataFrame(dataset['data'], columns=[x[0] for x in dataset['attributes']])
thyroid = pd.get_dummies(thyroid, columns= list( set(list(thyroid.columns)) - set(['Age', 'Recurred'])))
thyroid['Recurred'] = thyroid['Recurred'].apply(lambda x: 1 if x == 'Yes' else 0)
thyroid.rename(columns={'Recurred': 'target'}, inplace=True)
thyroid.replace({True: 1, False: 0}, inplace=True)
thyroid = thyroid[[c for c in thyroid.columns if c != 'target'] + ['target']]
thyroid.drop_duplicates(inplace=True)
thyroid.reset_index(drop=True, inplace=True)
basic_information(thyroid)

numericals = ['Age']
thyroid[numericals] = scaler.fit_transform(thyroid[numericals])

thyroid.to_csv('../data/data_prepared/thyroid.csv', index=False)
info_df.append(info_dict('thyroid', thyroid, list(set(list(thyroid.columns)) - set(['target', 'Age']))))
thyroid

Total NA: 0
Imbalance: target
0    256
1    108
Name: count, dtype: int64
Dtyoes: Age                                                 int64
Hx Smoking_No                                       int64
Hx Smoking_Yes                                      int64
Risk_High                                           int64
Risk_Intermediate                                   int64
Risk_Low                                            int64
Focality_Multi-Focal                                int64
Focality_Uni-Focal                                  int64
Stage_I                                             int64
Stage_II                                            int64
Stage_III                                           int64
Stage_IVA                                           int64
Stage_IVB                                           int64
N_N0                                                int64
N_N1a                                               int64
N_N1b                                               int64
Thyroid Function_Clinical Hyperthyroidism           int64
Thyroid Function_Clinical Hypothyroidism            int64
Thyroid Function_Euthyroid                          int64
Thyroid Function_Subclinical Hyperthyroidism        int64
Thyroid Function_Subclinical Hypothyroidism         int64
Smoking_No                                          int64
Smoking_Yes                                         int64
Response_Biochemical Incomplete                     int64
Response_Excellent                                  int64
Response_Indeterminate                              int64
Response_Structural Incomplete                      int64
M_M0                                                int64
M_M1                                                int64
Adenopathy_Bilateral                                int64
Adenopathy_Extensive                                int64
Adenopathy_Left                                     int64
Adenopathy_No                                       int64
Adenopathy_Posterior                                int64
Adenopathy_Right                                    int64
Physical Examination_Diffuse goiter                 int64
Physical Examination_Multinodular goiter            int64
Physical Examination_Normal                         int64
Physical Examination_Single nodular goiter-left     int64
Physical Examination_Single nodular goiter-right    int64
T_T1a                                               int64
T_T1b                                               int64
T_T2                                                int64
T_T3a                                               int64
T_T3b                                               int64
T_T4a                                               int64
T_T4b                                               int64
Pathology_Follicular                                int64
Pathology_Hurthel cell                              int64
Pathology_Micropapillary                            int64
Pathology_Papillary                                 int64
Gender_F                                            int64
Gender_M                                            int64
Hx Radiothreapy_No                                  int64
Hx Radiothreapy_Yes                                 int64
target                                              int64
dtype: object
duplicates 0

,Age,Hx Smoking_No,Hx Smoking_Yes,Risk_High,Risk_Intermediate,Risk_Low,Focality_Multi-Focal,Focality_Uni-Focal,Stage_I,Stage_II,...,T_T4b,Pathology_Follicular,Pathology_Hurthel cell,Pathology_Micropapillary,Pathology_Papillary,Gender_F,Gender_M,Hx Radiothreapy_No,Hx Radiothreapy_Yes,target
0,-0.931780,1,0,0,0,1,0,1,1,0,...,0,0,0,1,0,1,0,1,0,0
1,-0.474064,0,1,0,0,1,0,1,1,0,...,0,0,0,1,0,1,0,1,0,0
2,-0.735616,1,0,0,0,1,0,1,1,0,...,0,0,0,1,0,1,0,1,0,0
3,1.356803,1,0,0,0,1,0,1,1,0,...,0,0,0,1,0,1,0,1,0,0
4,1.356803,1,0,0,0,1,1,0,1,0,...,0,0,0,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,2.010683,0,1,1,0,0,0,1,0,0,...,1,0,0,0,1,0,1,0,1,1
360,2.599176,1,0,1,0,0,1,0,0,0,...,1,0,0,0,1,0,1,0,1,1
361,2.010683,0,1,1,0,0,1,0,0,0,...,1,0,0,0,1,0,1,1,0,1
362,1.291414,0,1,1,0,0,1,0,0,0,...,1,0,1,0,0,0,1,0,1,1
363,1.683743,1,0,1,0,0,1,0,0,0,...,1,0,0,0,1,0,1,1,0,1

In [49]:
#https://www.openml.org/search?type=data&status=active&id=40983&sort=runs
wilt = pd.read_csv('../data/data_original/wilt.csv')
wilt.rename(columns={'class': 'target'}, inplace=True)
wilt['target'] = wilt['target'].replace({'w': 1, 'n': 0})
wilt = wilt[[c for c in wilt.columns if c != 'target'] + ['target']]
wilt.drop_duplicates(inplace=True)
wilt.reset_index(drop=True, inplace=True)

numericals = list(set(wilt.columns) - {'target'})
wilt[numericals] = scaler.fit_transform(wilt[numericals])


basic_information(wilt)
wilt.to_csv('../data/data_prepared/wilt.csv', index=False)
info_df.append(info_dict('wilt', wilt,[]))
wilt

Total NA: 0
Imbalance: target
0    4251
1      74
Name: count, dtype: int64
Dtyoes: GLCM_pan      float64
Mean_Green    float64
Mean_Red      float64
Mean_NIR      float64
SD_pan        float64
target          int64
dtype: object
duplicates 0

      GLCM_pan  Mean_Green  Mean_Red  Mean_NIR    SD_pan  target
0    -0.473070   -0.464879  0.038407 -0.762585 -0.387142       1
1    -0.154248   -0.509378 -0.028635 -1.165276 -0.751346       1
2     0.570717   -0.567297 -0.003485 -0.366184 -0.220106       1
3     0.079340   -0.912034 -0.407661 -1.656023 -0.910061       1
4     0.624591   -0.604968 -0.072254 -0.009765 -0.669035       1
...        ...         ...       ...       ...       ...     ...
4320 -1.113655   -0.496387 -0.392868 -0.845688  0.148402       0
4321 -0.103574   -0.450142 -0.396273 -0.143561  0.786424       0
4322  0.383647    3.817603  2.942193 -0.227790  1.272459       0
4323 -0.173920   -0.305794 -0.306723  0.915085  0.331347       0
4324 -0.122755    5.361942  4.107990 -0.615796 -0.871993       0

[4325 rows x 6 columns]

In [50]:
#https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic
wisconsin = pd.read_csv('../data/data_original/wisconsin.data', header=None)
wisconsin.rename(columns={0:'ID', 10:'target'}, inplace=True)
wisconsin['target'].replace({4: 0, 2: 1}, inplace=True)
wisconsin.drop(columns=['ID'], inplace=True)
wisconsin[6] = pd.to_numeric(wisconsin[6], errors='coerce').fillna(0).astype('int32') #should be no na but gave error
wisconsin.drop_duplicates(inplace=True)
wisconsin.reset_index(drop=True, inplace=True)
basic_information(wisconsin)

numericals = list(set(wisconsin.columns) - {'target'})
wisconsin[numericals] = scaler.fit_transform(wisconsin[numericals])

wisconsin.to_csv('../data/data_prepared/wisconsin.csv', index=False)
info_df.append(info_dict('wisconsin', wisconsin,[]))
wisconsin

Total NA: 0
Imbalance: target
0    238
1    225
Name: count, dtype: int64
Dtyoes: 1         int64
2         int64
3         int64
4         int64
5         int64
6         int32
7         int64
8         int64
9         int64
target    int64
dtype: object
duplicates 0

,1,2,3,4,5,6,7,8,9,target
0,-0.112858,-0.981089,-1.038913,-0.854637,-0.752852,-0.937528,-0.444067,-0.828985,-0.433845,1
1,-0.112858,-0.054060,-0.076880,0.415658,1.292749,1.367297,-0.444067,-0.533284,-0.433845,1
2,-0.809565,-0.981089,-1.038913,-0.854637,-0.752852,-0.681436,-0.444067,-0.828985,-0.433845,1
3,0.235496,1.181979,1.205832,-0.854637,-0.343732,-0.169253,-0.444067,0.945221,-0.433845,1
4,-0.461211,-0.981089,-1.038913,-0.219489,-0.752852,-0.937528,-0.444067,-0.828985,-0.433845,1
...,...,...,...,...,...,...,...,...,...,...
458,-0.809565,-0.981089,-1.038913,-0.854637,-0.752852,-0.937528,-0.823408,-0.828985,0.056082,1
459,-0.809565,-0.981089,-1.038913,-0.854637,-0.343732,-0.681436,-1.202749,-0.828985,-0.433845,1
460,-0.112858,1.799998,1.847188,-0.219489,1.292749,-0.425344,1.452639,1.832324,0.056082,0
461,-0.461211,1.181979,0.564476,0.098084,-0.343732,-0.169253,2.211321,0.649520,-0.433845,0
462,-0.461211,1.181979,1.205832,0.415658,0.065389,0.086839,2.211321,0.058118,-0.433845,0

In [51]:
info_df = pd.DataFrame(info_df)
info_df.to_csv('../data/data_info.csv', index=False)
info_df = pd.read_csv('../data/data_info.csv')
#info_df.loc[~info_df['name'].isin(['blood', 'clima', 'eeg', 'fertility', 'gina', 'hill', 'ilpd', 'kc', 'liver', 'musk', 'ozone', 'pc1', 'pc3', 'qsar', 'retinopathy', 'scene', 'spam', 'spect'])].to_csv('../data/data_info.csv', index=False)
info_df

,name,n_samples,n_features,imbalance,categoricals,n_categoricals,train_indices,test_indices
0,auction,2043,7,0.128243,[],0,"[[1491, 889, 327, 369, 1874, 425, 916, 778, 35...","[[1656, 277, 672, 1829, 1197, 1919, 214, 638, ..."
1,autism,485,20,0.261856,"{'A2_Score', 'jundice_no', 'A6_Score', 'age_de...",19,"[[289, 178, 328, 477, 233, 453, 463, 366, 285,...","[[95, 309, 348, 343, 462, 26, 24, 298, 181, 1,..."
2,biomed,209,5,0.358852,[],0,"[[56, 65, 26, 59, 14, 55, 139, 198, 140, 45, 1...","[[72, 73, 147, 95, 143, 100, 122, 10, 33, 202,..."
3,credit,1125,40,0.200000,"['fea_1_6', 'fea_9_3', 'fea_7_5', 'fea_9_2', '...",36,"[[578, 647, 446, 304, 122, 1052, 778, 1115, 16...","[[160, 1004, 577, 1123, 585, 1071, 57, 655, 93..."
4,darwin,174,450,0.488506,[],0,"[[70, 93, 115, 97, 136, 123, 163, 101, 121, 14...","[[28, 146, 132, 18, 156, 1, 165, 159, 13, 141,..."
5,heart,299,12,0.321070,"['gender', 'jundice', 'austim', 'used_app_befo...",5,"[[262, 52, 30, 12, 213, 222, 199, 45, 292, 290...","[[200, 183, 146, 223, 120, 287, 167, 232, 198,..."
6,pc4,1344,37,0.131696,[],0,"[[217, 276, 1093, 40, 162, 536, 754, 398, 837,...","[[205, 506, 444, 475, 90, 1175, 389, 588, 715,..."
7,thyroid,364,55,0.296703,"['Adenopathy_Bilateral', 'Physical Examination...",54,"[[189, 116, 17, 252, 362, 34, 285, 205, 96, 95...","[[152, 220, 146, 313, 162, 224, 1, 202, 155, 2..."
8,wilt,4325,5,0.017110,[],0,"[[1431, 1317, 3838, 1711, 2109, 3187, 3943, 19...","[[1434, 1242, 833, 3189, 1149, 3506, 2842, 426..."
9,wisconsin,463,9,0.485961,[],0,"[[205, 13, 334, 418, 168, 295, 365, 26, 222, 1...","[[87, 431, 439, 16, 52, 343, 216, 99, 324, 394..."

In [52]:
info_df.iloc[:, :4]

        name  n_samples  n_features  imbalance
0    auction       2043           7   0.128243
1     autism        485          20   0.261856
2     biomed        209           5   0.358852
3     credit       1125          40   0.200000
4     darwin        174         450   0.488506
5      heart        299          12   0.321070
6        pc4       1344          37   0.131696
7    thyroid        364          55   0.296703
8       wilt       4325           5   0.017110
9  wisconsin        463           9   0.485961

In [53]:
#https://archive.ics.uci.edu/dataset/368/facebook+metrics
# facebook = pd.read_csv('../data/data_original/facebook.csv', sep=';')
# facebook['share'] = facebook['share'].apply(lambda x: 1 if x == 0 else 0) #minority to 1
# facebook.rename(columns={'share': 'target'}, inplace=True)
# facebook.drop(columns=['comment', 'like', 'Total Interactions'], inplace=True)
# facebook['Paid'].fillna(0, inplace=True) # jsut liek one value

# numericals = list(set(facebook.columns) - {'target', 'Paid', 'Type'})
# facebook[numericals] = scaler.fit_transform(facebook[numericals])



# facebook = pd.get_dummies(facebook, columns=['Type'], drop_first=True).replace({True: 1, False: 0})
# facebook = facebook[[c for c in facebook.columns if c != 'target'] + ['target']]
# facebook.to_csv('../data/data_prepared/facebook.csv', index=False)
# info_df.append(info_dict('facebook', facebook, ['Type_Photo', 'Type_Status', 'Type_Video', 'Paid']))
# basic_information(facebook)
# facebook

In [54]:
# #https://openml.org/search?type=data&sort=runs&status=active&id=1464
# blood = loadarff('../data/data_original/blood.arff')
# blood = pd.DataFrame(blood[0])
# blood['Class'] = blood['Class'].apply(lambda x: 1 if x == b'2' else 0)
# blood.rename(columns={'Class': 'target'}, inplace=True)
# basic_information(blood)
# blood.to_csv('../data/data_prepared/blood.csv', index=False)
# info_df.append(info_dict('blood', blood, []))
# blood

In [55]:
# #https://archive.ics.uci.edu/dataset/252/clima+model+simulation+crashes
# with open("../data/data_original/clima.dat", "r") as file:
#     data = file.readlines()
    
# columns = data[0].strip().split()
# values = [list(map(float, row.strip().split())) for row in data[1:]]
# clima = pd.DataFrame(values, columns=columns)
# clima.rename(columns={'outcome': 'target'}, inplace=True)
# #clima['target'] = clima['target'].astype(int).replace({0: 1, 1: 0})
# clima.drop(columns=['Study', 'Run'], inplace=True)
# clima.to_csv('../data/data_prepared/clima.csv', index=False)
# info_df.append(info_dict('clima', clima, []))
# basic_information(clima)
# clima

In [56]:
# #https://www.openml.org/search?type=data&status=active&id=43452
# with open("../data/data_original/student.arff", "r") as file:
#     dataset = arff.load(file)
# student =  pd.DataFrame(dataset['data'], columns=[x[0] for x in dataset['attributes']])
# student.rename(columns={'pass': 'target'}, inplace=True)
# student['target'] = student['target'].replace({1:0, 0:1})
# basic_information(student)
# student.to_csv('../data/data_prepared/student.csv', index=False)
# info_df.append(info_dict('student', student, list(set(list(student.columns)) - set(['target', 'Age']))))

# student

In [57]:
# landmines = pd.read_excel('../data/data_original/landmines.xls', sheet_name='Normalized_Data')
# landmines.rename(columns={'M':'target'}, inplace=True)
# landmines['target'] = landmines['target'].apply(lambda x: 1 if x == 1 else 0)
# basic_information(landmines)
# landmines.to_csv('../data/data_prepared/landmines.csv', index=False)
# info_df.append(info_dict('landmines', landmines, []))
# landmines

In [58]:
# #https://archive.ics.uci.edu/dataset/472/caesarian+section+classification+dataset
# with open("../data/data_original/caesarian.arff", "r") as file:
#     dataset = arff.load(file)
# caesarian =  pd.DataFrame(dataset['data'], columns=[x[0] for x in dataset['attributes']])
# caesarian.rename(columns={'Caesarian': 'target'}, inplace=True)

# caesarian.drop_duplicates(inplace=True)

# caesarian = caesarian.astype({
#     'target': 'int32',
#     'Age': 'int32',
#     'Delivery number': 'int32',
#     'Delivery time': 'int32',
#     'Blood of Pressure': 'int32',
#     'Heart Problem': 'int32',
# })
# caesarian['target'].replace({1: 0, 0: 1}, inplace=True)
# caesarian.reset_index(drop=True, inplace=True)
# basic_information(caesarian)
# caesarian.to_csv('../data/data_prepared/caesarian.csv', index=False)
# info_df.append(info_dict('caesarian', caesarian, []))

# caesarian

In [59]:
# #https://openml.org/search?type=data&status=active&id=1471
# eeg = loadarff('../data/data_original/eeg.arff')
# eeg = pd.DataFrame(eeg[0])
# eeg.rename(columns={'eyeDetection': 'target'}, inplace=True)
# eeg['target'] = eeg['target'].apply(lambda x: 1 if x == b'1' else 0)
# basic_information(eeg)
# eeg.to_csv('../data/data_prepared/eeg.csv', index=False)
# info_df.append(info_dict('eeg', eeg, []))
# eeg

In [60]:
# #https://archive.ics.uci.edu/dataset/244/fertility
# with open("../data/data_original/fertility.txt", "r") as file:
#     data = file.readlines()
# data
# fertility = pd.DataFrame([data[i].strip().split(",") for i in range(len(data))], columns=["season", "age", "child_diseases", "accident", "surgical_intervention", "high_fevers", "alcohol", "smoking", "hr_sittings", "diagnosis"])

# fertility.rename(columns={'diagnosis': 'target'}, inplace=True)
# fertility['target'] = fertility['target'].apply(lambda x: 0 if x == 'N' else 1)
# fertility = fertility.astype(float)
# fertility['target'] = fertility['target'].astype(int)
# fertility.to_csv('../data/data_prepared/fertility.csv', index=False)
# info_df.append(info_dict('fertility', fertility, ['season', 'child_diseases', 'accident', 'surgical_intervention', 'high_fevers', 'alcohol', 'smoking']))
# basic_information(fertility)
# fertility

In [61]:
# #https://openml.org/search?type=data&status=active&id=41158
# gina = loadarff('../data/data_original/gina.arff')
# gina = pd.DataFrame(gina[0])
# gina = gina.iloc[:, 1:].join(gina.iloc[:, 0])
# gina.rename(columns={'class': 'target'}, inplace=True)
# gina['target'] = gina['target'].apply(lambda x: 1 if x == b'1' else 0)
# gina.to_csv('../data/data_prepared/gina.csv', index=False)
# info_df.append(info_dict('gina', gina, []))
# basic_information(gina)
# gina

In [62]:
# #https://openml.org/search?type=data&status=any&id=1479
# hill = loadarff('../data/data_original/hill.arff')
# hill = pd.DataFrame(hill[0])
# hill.rename(columns={'Class': 'target'}, inplace=True)
# hill['target'] = hill['target'].apply(lambda x: 1 if x == b'1' else 0)
# hill.to_csv('../data/data_prepared/hill.csv', index=False)
# info_df.append(info_dict('hill', hill, []))
# basic_information(hill)
# hill

In [63]:
# #https://openml.org/search?type=data&status=active&id=41945
# ilpd = loadarff('../data/data_original/ilpd.arff')
# ilpd = pd.DataFrame(ilpd[0])
# ilpd.rename(columns={'Class': 'target'}, inplace=True)
# ilpd['target'] = ilpd['target'].apply(lambda x: 1 if x == b'1' else 0)
# ilpd.to_csv('../data/data_prepared/ilpd.csv', index=False)
# info_df.append(info_dict('ilpd', ilpd, []))
# basic_information(ilpd)
# ilpd

In [64]:
# #https://openml.org/search?type=data&status=active&id=1067&sort=runs
# kc =loadarff('../data/data_original/kc.arff')
# kc = pd.DataFrame(kc[0])
# kc.rename(columns={'defects': 'target'}, inplace=True)
# kc['target'] = kc['target'].apply(lambda x: 1 if x == b'true' else 0)
# kc.to_csv('../data/data_prepared/kc.csv', index=False)
# info_df.append(info_dict('kc', kc, []))
# basic_information(kc)
# kc

In [65]:
# #https://openml.org/search?type=data&status=any&id=8
# liver = loadarff('../data/data_original/liver.arff')
# liver = pd.DataFrame(liver[0])
# liver.rename(columns={'selector': 'target'}, inplace=True)
# liver['target'] = liver['target'].apply(lambda x: 1 if x == b'1' else 0)
# liver.to_csv('../data/data_prepared/liver.csv', index=False)
# info_df.append(info_dict('liver', liver, []))
# basic_information(liver)
# liver

In [66]:
# #https://openml.org/search?type=data&status=active&id=40665
# musk = loadarff('../data/data_original/musk.arff')
# musk = pd.DataFrame(musk[0])
# musk.rename(columns={'class': 'target'}, inplace=True)
# musk['target'] = musk['target'].apply(lambda x: 1 if x == b'1' else 0)
# musk.drop(columns=['molecule_name', 'conformation_name'], inplace=True)
# musk.to_csv('../data/data_prepared/musk.csv', index=False)
# info_df.append(info_dict('musk', musk, []))
# basic_information(musk)
# musk

In [67]:
# #https://openml.org/search?type=data&status=active&id=301
# ozone = loadarff('../data/data_original/ozone.arff')
# ozone = pd.DataFrame(ozone[0])
# ozone = ozone.applymap(lambda x: x.decode("utf-8") if isinstance(x, bytes) else x)
# ozone.replace("?", np.nan, inplace=True)
# ozone = ozone.apply(pd.to_numeric)
# ozone.fillna(ozone.mean(), inplace=True)
# ozone.rename(columns={'Class': 'target'}, inplace=True)
# ozone['target'] = ozone['target'].astype(int)
# ozone.to_csv('../data/data_prepared/ozone.csv', index=False)
# info_df.append(info_dict('ozone', ozone, []))
# basic_information(ozone)
# ozone

In [68]:
# #https://openml.org/search?type=data&status=active&id=1068
# pc1 = loadarff('../data/data_original/pc1.arff')
# pc1 = pd.DataFrame(pc1[0])
# pc1.rename(columns={'defects': 'target'}, inplace=True)
# pc1['target'] = pc1['target'].apply(lambda x: 1 if x == b'true' else 0)
# pc1.to_csv('../data/data_prepared/pc1.csv', index=False)
# info_df.append(info_dict('pc1', pc1, []))
# basic_information(pc1)
# pc1

In [69]:
# #https://openml.org/search?type=data&status=active&id=1050
# pc3 = loadarff('../data/data_original/pc3.arff')
# pc3 = pd.DataFrame(pc3[0])
# pc3.rename(columns={'c': 'target'}, inplace=True)
# pc3['target'] = pc3['target'].apply(lambda x: 1 if x == b'TRUE' else 0)
# pc3.to_csv('../data/data_prepared/pc3.csv', index=False)
# info_df.append(info_dict('pc3', pc3, []))
# basic_information(pc3)
# pc3

In [70]:
# #https://openml.org/search?type=data&status=active&id=45077
# #normal loading doesn't work
# with open("../data/data_original/qsar.arff", "r") as file:
#     dataset = arff.load(file)
    
# qsar = pd.DataFrame(dataset['data'], columns=[x[0] for x in dataset['attributes']])
# qsar.rename(columns={'class': 'target'}, inplace=True)
# qsar['target'] = qsar['target'].apply(lambda x: 0 if x == 'NRB' else 1)
# qsar.to_csv('../data/data_prepared/qsar.csv', index=False)
# info_df.append(info_dict('qsar', qsar, ['39', '20', '28', '23', '3', '22', '34', '19', '25', '24']))
# basic_information(qsar)
# qsar

In [71]:
# #https://archive.ics.uci.edu/dataset/329/diabetic+retinopathy+debrecen
# retinopathy = loadarff('../data/data_original/retinopathy.arff')
# retinopathy = pd.DataFrame(retinopathy[0])
# retinopathy.rename(columns={'Class': 'target'}, inplace=True)
# retinopathy['target'] = retinopathy['target'].apply(lambda x: 0 if x == b'0' else 1)
# retinopathy.to_csv('../data/data_prepared/retinopathy.csv', index=False)
# info_df.append(info_dict('retinopathy', retinopathy, []))
# basic_information(retinopathy)
# retinopathy

In [72]:
# scene = loadarff('../data/data_original/scene.arff')
# scene = pd.DataFrame(scene[0])
# scene.rename(columns={'Beach': 'target'}, inplace=True)
# scene.drop(columns=['Sunset', 'FallFoliage', 'Field', 'Mountain', 'Urban'], inplace=True)
# scene['target'] = scene['target'].apply(lambda x: 1 if x == b'TRUE' else 0)
# scene.to_csv('../data/data_prepared/scene.csv', index=False)
# info_df.append(info_dict('scene', scene, []))
# basic_information(scene)
# scene

In [73]:
# #https://openml.org/search?type=data&status=active&id=44
# spam = loadarff('../data/data_original/spam.arff')
# spam = pd.DataFrame(spam[0])
# spam.rename(columns={'class': 'target'}, inplace=True)
# spam['target'] = spam['target'].apply(lambda x: 1 if x == b'1' else 0)
# spam.to_csv('../data/data_prepared/spam.csv', index=False)
# info_df.append(info_dict('spam', spam, []))
# basic_information(spam)
# spam

In [74]:
# #https://openml.org/search?type=data&status=active&id=336
# spect = loadarff('../data/data_original/spect.arff')
# spect = pd.DataFrame(spect[0])
# spect.rename(columns={'OVERALL_DIAGNOSIS': 'target'}, inplace=True)
# spect = spect.applymap(lambda x: 1 if x == b'1' else 0)
# spect = spect.iloc[:, 1:].join(spect.iloc[:, 0])
# #spect.replace({1:0, 0:1},  inplace=True)
# spect.to_csv('../data/data_prepared/spect.csv', index=False)
# info_df.append(info_dict('spect', spect, list(set(list(spect.columns)) - set(['target']))))
# basic_information(spect)
# spect