In [1]:
import sys
import os
sys.path.insert(0, os.path.abspath("../"))
from analysis import *
import pandas as pd
from scipy import stats
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np
import random
from analysis import *

In [2]:
results = get_all_results('experiment1')
results

,config_id,run_id,name,oversampling,config.pop_size,config.n_iter,config.elitism,config.n_elites,config.init_depth,config.initializer,...,train.roc_auc,train.f1_score,train.precision,train.recall,test.accuracy,test.roc_auc,test.f1_score,test.precision,test.recall,dataset_name
0,1,1,GSGP,True,100,200,True,1,6,rhh,...,0.987067,0.950593,0.928571,0.973684,0.938272,0.985039,0.736842,0.583333,1.000000,clima
1,1,2,GSGP,True,100,200,True,1,6,rhh,...,0.987276,0.954545,0.932432,0.977733,0.919753,0.969595,0.666667,0.520000,0.928571,clima
2,1,3,GSGP,True,100,200,True,1,6,rhh,...,0.984293,0.953419,0.933981,0.973684,0.925926,0.994209,0.700000,0.538462,1.000000,clima
3,1,4,GSGP,True,100,200,True,1,6,rhh,...,0.988743,0.952475,0.932171,0.973684,0.907407,0.924228,0.615385,0.480000,0.857143,clima
4,1,5,GSGP,True,100,200,True,1,6,rhh,...,0.987871,0.954365,0.935798,0.973684,0.950617,0.987934,0.777778,0.636364,1.000000,clima
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,5,1,GSGP,False,100,200,True,1,6,rhh,...,0.923851,0.000000,0.000000,0.000000,0.662461,0.905207,0.000000,0.000000,0.000000,qsar
71,5,2,GSGP,False,100,200,True,1,6,rhh,...,0.953984,0.528102,0.358790,1.000000,0.397476,0.922519,0.528395,0.359060,1.000000,qsar
72,5,3,GSGP,False,100,200,True,1,6,rhh,...,0.934412,0.576271,0.971429,0.409639,0.810726,0.936093,0.615385,0.979592,0.448598,qsar
73,5,4,GSGP,False,100,200,True,1,6,rhh,...,0.943373,0.601212,0.430556,0.995984,0.542587,0.927993,0.591549,0.423387,0.981308,qsar
74,5,5,GSGP,False,100,200,True,1,6,rhh,...,0.942831,0.507128,0.339700,1.000000,0.340694,0.939742,0.505910,0.338608,1.000000,qsar

In [3]:
results = results.sort_values('test.f1_score', ascending=False)
results['rank'] = results.groupby('dataset_name')['test.f1_score'].rank(ascending=False)

In [4]:

results

,config_id,run_id,name,oversampling,config.pop_size,config.n_iter,config.elitism,config.n_elites,config.init_depth,config.initializer,...,train.f1_score,train.precision,train.recall,test.accuracy,test.roc_auc,test.f1_score,test.precision,test.recall,dataset_name,rank
27,1,3,GSGP,True,100,200,True,1,6,rhh,...,0.868533,0.893543,0.844885,0.873626,0.929145,0.871508,0.886364,0.857143,hill,1.0
26,1,2,GSGP,True,100,200,True,1,6,rhh,...,0.844955,0.840131,0.849835,0.846154,0.914563,0.846995,0.842391,0.851648,hill,2.0
25,1,1,GSGP,True,100,200,True,1,6,rhh,...,0.852965,0.840000,0.866337,0.840659,0.894125,0.841530,0.836957,0.846154,hill,3.0
52,1,3,GSGP,True,100,200,True,1,6,rhh,...,0.890449,0.874483,0.907010,0.886435,0.947842,0.840708,0.798319,0.887850,qsar,1.0
67,4,3,GSGP,False,100,200,True,1,6,rhh,...,0.805785,0.829787,0.783133,0.889590,0.919359,0.837209,0.833333,0.841121,qsar,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24,5,5,GSGP,False,100,200,True,1,6,rhh,...,0.156098,0.084656,1.000000,0.086420,0.924710,0.159091,0.086420,1.000000,clima,21.0
15,4,1,GSGP,False,100,200,True,1,6,rhh,...,0.439024,1.000000,0.281250,0.907407,0.841699,0.117647,0.333333,0.071429,clima,23.0
18,4,4,GSGP,False,100,200,True,1,6,rhh,...,0.060606,1.000000,0.031250,0.907407,0.600869,0.000000,0.000000,0.000000,clima,24.5
70,5,1,GSGP,False,100,200,True,1,6,rhh,...,0.000000,0.000000,0.000000,0.662461,0.905207,0.000000,0.000000,0.000000,qsar,25.0
21,5,2,GSGP,False,100,200,True,1,6,rhh,...,0.000000,0.000000,0.000000,0.913580,0.929537,0.000000,0.000000,0.000000,clima,24.5

In [5]:
logs = get_all_logs('experiment1')
logs

,config_id,algorithm,dataset,seed,generation,elite_train_error,time,population_nodes,elite_test_error,elite_nodes,log_level
0,1,GSGP,clima,1,1,0.461080,0.075605,1642.0,0.486879,3,1
1,1,GSGP,clima,1,2,0.461080,0.093968,2024.0,0.486879,3,1
2,1,GSGP,clima,1,3,0.454477,0.089806,2346.0,0.484565,9,1
3,1,GSGP,clima,1,4,0.452444,0.069180,2844.0,0.394791,25,1
4,1,GSGP,clima,1,5,0.449818,0.083738,3296.0,0.460148,33,1
...,...,...,...,...,...,...,...,...,...,...,...
15055,5,GSGP,qsar,5,196,0.942239,0.032929,85790.0,0.936404,823,1
15056,5,GSGP,qsar,5,197,0.942239,0.033758,85536.0,0.936404,823,1
15057,5,GSGP,qsar,5,198,0.942354,0.051073,85794.0,0.938184,843,1
15058,5,GSGP,qsar,5,199,0.942354,0.033335,86006.0,0.938184,843,1
15059,5,GSGP,qsar,5,200,0.942831,0.054532,86422.0,0.939742,849,1

In [6]:
ana = Analysis('experiment1')
ranks = ana.get_ranks_by_metric()
ranks['test.accuracy']

    config_id  rank dataset_name
12          3   1.0        clima
7           2   1.0        clima
4           1   1.0        clima
9           2   2.0        clima
0           1   2.0        clima
..        ...   ...          ...
71          5   4.0         qsar
74          5   5.0         qsar
24          5   4.0        clima
23          5   4.0        clima
20          5   4.0        clima

[75 rows x 3 columns]

In [7]:
ranks

{'test.accuracy':     config_id  rank dataset_name
 12          3   1.0        clima
 7           2   1.0        clima
 4           1   1.0        clima
 9           2   2.0        clima
 0           1   2.0        clima
 ..        ...   ...          ...
 71          5   4.0         qsar
 74          5   5.0         qsar
 24          5   4.0        clima
 23          5   4.0        clima
 20          5   4.0        clima

 [75 rows x 3 columns],
 'test.f1_score':     config_id  rank dataset_name
 27          1   1.0         hill
 26          1   2.0         hill
 25          1   3.0         hill
 52          1   1.0         qsar
 67          4   1.0         qsar
 ..        ...   ...          ...
 24          5   3.0        clima
 15          4   4.0        clima
 18          4   5.0        clima
 70          5   5.0         qsar
 21          5   5.0        clima

 [75 rows x 3 columns],
 'test.roc_auc':     config_id  rank dataset_name
 2           1   1.0        clima
 4           1   2.0        clima
 12          3   1.0        clima
 0           1   3.0        clima
 7           2   1.0        clima
 ..        ...   ...          ...
 43          4   4.0         hill
 18          4   5.0        clima
 42          4   5.0         hill
 47          5   5.0         hill
 35          3   5.0         hill

 [75 rows x 3 columns]}