In [607]:
import sys
import os
sys.path.insert(0, os.path.abspath("../"))
from analysis import *
import pandas as pd
from scipy import stats
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np
import random
from analysis import *

In [608]:
info_df = pd.read_csv("../../data/data_info.csv")
strong_imbalance = info_df.loc[info_df["imbalance"] <= 0.21, "name"]
weak_imbalance = info_df.loc[info_df["imbalance"] > 0.21, "name"]

In [609]:
results = get_all_results('experiment1')
results

,config_id,run_id,name,oversampling,config.pop_size,config.n_iter,config.elitism,config.n_elites,config.init_depth,config.initializer,...,train.recall,test.accuracy,test.roc_auc,test.f1_score,test.precision,test.recall,dataset_name,config.ms_lower,config.ms_upper,config.reconstruct
0,1,1,GP,True,50,200,True,1,6,rhh,...,0.671930,0.693333,0.729586,0.510638,0.413793,0.666667,blood,NaN,NaN,NaN
1,1,2,GP,True,50,200,True,1,6,rhh,...,0.657895,0.733333,0.768140,0.565217,0.464286,0.722222,blood,NaN,NaN,NaN
2,1,1,GSGP,True,50,200,True,1,6,rhh,...,0.987854,0.925926,0.977317,0.700000,0.538462,1.000000,clima,0.0,1.0,True
3,1,2,GSGP,True,50,200,True,1,6,rhh,...,0.977733,0.919753,0.961873,0.666667,0.520000,0.928571,clima,0.0,1.0,True
4,1,3,GSGP,True,50,200,True,1,6,rhh,...,0.973684,0.944444,0.992278,0.756757,0.608696,1.000000,clima,0.0,1.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,6,1,GSGP,False,50,200,True,1,6,rhh,...,1.000000,0.308642,0.847427,0.377778,0.232877,1.000000,spect,0.0,1.0,True
508,6,2,GSGP,False,50,200,True,1,6,rhh,...,1.000000,0.246914,0.787684,0.357895,0.217949,1.000000,spect,0.0,1.0,True
509,6,3,GSGP,False,50,200,True,1,6,rhh,...,1.000000,0.222222,0.755515,0.350515,0.212500,1.000000,spect,0.0,1.0,True
510,6,4,GSGP,False,50,200,True,1,6,rhh,...,1.000000,0.209877,0.814338,0.346939,0.209877,1.000000,spect,0.0,1.0,True
511,6,5,GSGP,False,50,200,True,1,6,rhh,...,1.000000,0.234568,0.840074,0.354167,0.215190,1.000000,spect,0.0,1.0,True

In [610]:
results = results.sort_values('test.f1_score', ascending=False)
results['rank'] = results.groupby('dataset_name')['test.f1_score'].rank(ascending=False)

In [611]:

results

,config_id,run_id,name,oversampling,config.pop_size,config.n_iter,config.elitism,config.n_elites,config.init_depth,config.initializer,...,test.accuracy,test.roc_auc,test.f1_score,test.precision,test.recall,dataset_name,config.ms_lower,config.ms_upper,config.reconstruct,rank
459,2,3,GSGP,False,50,200,True,1,6,rhh,...,0.947864,0.981192,0.932203,0.955598,0.909926,spam,0.0,1.0,True,1.0
243,1,2,GSGP,True,50,200,True,1,6,rhh,...,0.937063,0.963162,0.931298,0.884058,0.983871,musk,0.0,1.0,True,1.0
464,3,3,GSGP,False,50,200,True,1,6,rhh,...,0.942795,0.980823,0.927854,0.921960,0.933824,spam,0.0,1.0,True,2.0
463,3,2,GSGP,False,50,200,True,1,6,rhh,...,0.942795,0.978106,0.927055,0.931354,0.922794,spam,0.0,1.0,True,3.0
458,2,2,GSGP,False,50,200,True,1,6,rhh,...,0.942795,0.978218,0.925822,0.946257,0.906250,spam,0.0,1.0,True,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,5,5,GSGP,False,50,200,True,1,6,rhh,...,0.551179,0.506401,0.000000,0.000000,0.000000,eeg,0.0,1.0,True,28.0
55,5,4,GSGP,False,50,200,True,1,6,rhh,...,0.550957,0.499936,0.000000,0.000000,0.000000,eeg,0.0,1.0,True,28.0
54,5,3,GSGP,False,50,200,True,1,6,rhh,...,0.551179,0.501277,0.000000,0.000000,0.000000,eeg,0.0,1.0,True,28.0
241,6,5,GSGP,False,50,200,True,1,6,rhh,...,0.576923,0.657197,0.000000,0.000000,0.000000,liver,0.0,1.0,True,29.5
239,6,3,GSGP,False,50,200,True,1,6,rhh,...,0.576923,0.686742,0.000000,0.000000,0.000000,liver,0.0,1.0,True,29.5

In [612]:
results.groupby(['dataset_name', 'config_id', 'run_id'])['test.accuracy'].mean().unstack().mean(axis=1).sort_values(ascending=False).unstack()

config_id            1         2         3         4         5         6
dataset_name
blood         0.713333       NaN       NaN       NaN       NaN       NaN
clima         0.928395  0.941975  0.885185  0.916049  0.909877  0.164198
eeg           0.643080  0.642012  0.639430  0.501736  0.559324  0.495149
fertility     0.900000  0.793333  0.733333  0.773333  0.840000  0.266667
gina          0.841015  0.825159  0.827273  0.741226  0.770190  0.708245
hill          0.846703  0.790110  0.790110  0.685714  0.655495  0.591758
ilpd          0.650286  0.699429  0.610286  0.557714  0.718857  0.626286
kc            0.716588  0.851501  0.686256  0.787678  0.852133  0.728594
liver         0.725000  0.721154  0.680769  0.559615  0.592308  0.525000
musk          0.906294  0.784615  0.784615  0.672727  0.693706  0.569231
ozone         0.861235  0.968725  0.842838  0.912484  0.970565  0.260447
pc1           0.816817  0.932733  0.771772  0.858859  0.931532  0.224625
pc3           0.735608  0.900213  0.735181  0.720682  0.896802  0.326652
qsar          0.873186  0.866246  0.843533  0.752050  0.799369  0.519874
retinopathy   0.750289  0.732948  0.729480  0.680925  0.672254  0.531214
scene         0.841770  0.881881  0.833472  0.861411  0.844260  0.431535
spam          0.925706  0.937147  0.933961  0.930775  0.928458  0.623461
spect         0.807407  0.782716  0.748148  0.772840  0.775309  0.244444

In [613]:
settings = results[['config_id', 'oversampling', 'config.fitness_function']].drop_duplicates().sort_values('config_id')
settings['config_settings'] = results['config.fitness_function'] + results['oversampling'].astype(str)
settings['config_settings'] = (
    settings['config_settings']
    .str.replace('True', '_oversampling', regex=False)
    .str.replace('False', '', regex=False)
)
settings = settings[['config_id', 'config_settings']]
settings

     config_id            config_settings
243          1  sigmoid_rmse_oversampling
459          2               sigmoid_rmse
464          3      weighted_sigmoid_rmse
467          4                   f1_score
474          5                   accuracy
481          6                    roc_auc

In [614]:
results = results.merge(settings, on='config_id')
results

,config_id,run_id,name,oversampling,config.pop_size,config.n_iter,config.elitism,config.n_elites,config.init_depth,config.initializer,...,test.roc_auc,test.f1_score,test.precision,test.recall,dataset_name,config.ms_lower,config.ms_upper,config.reconstruct,rank,config_settings
0,2,3,GSGP,False,50,200,True,1,6,rhh,...,0.981192,0.932203,0.955598,0.909926,spam,0.0,1.0,True,1.0,sigmoid_rmse
1,2,2,GSGP,False,50,200,True,1,6,rhh,...,0.978218,0.925822,0.946257,0.906250,spam,0.0,1.0,True,4.0,sigmoid_rmse
2,2,1,GSGP,False,50,200,True,1,6,rhh,...,0.975798,0.924931,0.932710,0.917279,spam,0.0,1.0,True,5.0,sigmoid_rmse
3,2,4,GSGP,False,50,200,True,1,6,rhh,...,0.971133,0.911298,0.925996,0.897059,spam,0.0,1.0,True,15.0,sigmoid_rmse
4,2,5,GSGP,False,50,200,True,1,6,rhh,...,0.952810,0.903690,0.885362,0.922794,spam,0.0,1.0,True,20.0,sigmoid_rmse
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,6,3,GSGP,False,50,200,True,1,6,rhh,...,0.682099,0.000000,0.000000,0.000000,retinopathy,0.0,1.0,True,29.0,roc_auc
508,6,4,GSGP,False,50,200,True,1,6,rhh,...,0.744288,0.000000,0.000000,0.000000,eeg,0.0,1.0,True,28.0,roc_auc
509,6,3,GSGP,False,50,200,True,1,6,rhh,...,0.737790,0.000000,0.000000,0.000000,eeg,0.0,1.0,True,28.0,roc_auc
510,6,5,GSGP,False,50,200,True,1,6,rhh,...,0.657197,0.000000,0.000000,0.000000,liver,0.0,1.0,True,29.5,roc_auc
511,6,3,GSGP,False,50,200,True,1,6,rhh,...,0.686742,0.000000,0.000000,0.000000,liver,0.0,1.0,True,29.5,roc_auc

In [615]:
logs = get_all_logs('experiment1')
logs

,config_id,algorithm,dataset,seed,generation,elite_train_error,time,population_nodes,elite_test_error,elite_nodes,log_level
989,1,GSGP,blood,1,0,0.493828,0.031246,670.0,0.515428,3,1
1994,1,GP,blood,1,0,0.493828,0.018309,670.0,0.515428,3,1
0,1,GSGP,blood,1,1,0.488119,0.031229,1674.0,0.541657,13,1
990,1,GSGP,blood,1,1,0.490553,0.017910,796.0,0.485953,9,1
1995,1,GP,blood,1,1,0.493828,0.000000,616.0,0.515428,3,1
...,...,...,...,...,...,...,...,...,...,...,...
109914,6,GSGP,spect,5,196,0.954836,0.082039,42754.0,0.840074,815,1
109915,6,GSGP,spect,5,197,0.954836,0.018063,42606.0,0.840074,815,1
109916,6,GSGP,spect,5,198,0.954836,0.019944,42712.0,0.840074,815,1
109917,6,GSGP,spect,5,199,0.954836,0.014374,43100.0,0.840074,815,1
109918,6,GSGP,spect,5,200,0.954836,0.015549,43322.0,0.840074,815,1

In [616]:
results.groupby(['dataset_name', 'config_settings'])['test.accuracy'].mean().unstack()

config_settings,accuracy,f1_score,roc_auc,sigmoid_rmse,sigmoid_rmse_oversampling,weighted_sigmoid_rmse
dataset_name,,,,,,
blood,NaN,NaN,NaN,NaN,0.713333,NaN
clima,0.909877,0.916049,0.164198,0.941975,0.928395,0.885185
eeg,0.559324,0.501736,0.495149,0.642012,0.643080,0.639430
fertility,0.840000,0.773333,0.266667,0.793333,0.900000,0.733333
gina,0.770190,0.741226,0.708245,0.825159,0.841015,0.827273
hill,0.655495,0.685714,0.591758,0.790110,0.846703,0.790110
ilpd,0.718857,0.557714,0.626286,0.699429,0.650286,0.610286
kc,0.852133,0.787678,0.728594,0.851501,0.716588,0.686256
liver,0.592308,0.559615,0.525000,0.721154,0.725000,0.680769
musk,0.693706,0.672727,0.569231,0.784615,0.906294,0.784615
ozone,0.970565,0.912484,0.260447,0.968725,0.861235,0.842838
pc1,0.931532,0.858859,0.224625,0.932733,0.816817,0.771772
pc3,0.896802,0.720682,0.326652,0.900213,0.735608,0.735181
qsar,0.799369,0.752050,0.519874,0.866246,0.873186,0.843533
retinopathy,0.672254,0.680925,0.531214,0.732948,0.750289,0.729480
scene,0.844260,0.861411,0.431535,0.881881,0.841770,0.833472
spam,0.928458,0.930775,0.623461,0.937147,0.925706,0.933961
spect,0.775309,0.772840,0.244444,0.782716,0.807407,0.748148

In [617]:
results.groupby(['dataset_name', 'config_settings'])['test.f1_score'].mean().unstack()

config_settings,accuracy,f1_score,roc_auc,sigmoid_rmse,sigmoid_rmse_oversampling,weighted_sigmoid_rmse
dataset_name,,,,,,
blood,NaN,NaN,NaN,NaN,0.537928,NaN
clima,0.000000,0.473712,0.171259,0.564015,0.699113,0.551081
eeg,0.083742,0.632893,0.373310,0.563699,0.607779,0.608766
fertility,0.050000,0.076364,0.234106,0.044444,0.644762,0.266566
gina,0.779011,0.770646,0.762670,0.824119,0.841764,0.826075
hill,0.656188,0.733937,0.654981,0.783994,0.843825,0.783994
ilpd,0.140665,0.530344,0.109579,0.229932,0.552696,0.523947
kc,0.172754,0.444830,0.229880,0.273350,0.440327,0.420645
liver,0.335727,0.585921,0.357425,0.656371,0.679889,0.633335
musk,0.661912,0.692433,0.654504,0.753303,0.894623,0.753799
ozone,0.000000,0.155185,0.100471,0.045670,0.256485,0.214893
pc1,0.075524,0.234774,0.152443,0.199352,0.391857,0.309749
pc3,0.030624,0.331684,0.238409,0.168623,0.360206,0.383199
qsar,0.580532,0.693440,0.469747,0.791091,0.816683,0.785302
retinopathy,0.588160,0.718563,0.164129,0.722182,0.749088,0.725373
scene,0.292265,0.603416,0.408033,0.593571,0.649617,0.628189
spam,0.908923,0.912510,0.647474,0.919589,0.907225,0.917220
spect,0.077778,0.500872,0.357459,0.456514,0.633531,0.558621

In [618]:
results.groupby(['dataset_name', 'config_settings'])['test.roc_auc'].mean().unstack()

config_settings,accuracy,f1_score,roc_auc,sigmoid_rmse,sigmoid_rmse_oversampling,weighted_sigmoid_rmse
dataset_name,,,,,,
blood,NaN,NaN,NaN,NaN,0.748863,NaN
clima,0.487838,0.914672,0.918822,0.944209,0.968726,0.944112
eeg,0.516480,0.562130,0.742634,0.683086,0.685936,0.685802
fertility,0.523077,0.465385,0.523077,0.528846,0.717308,0.544231
gina,0.814436,0.771692,0.860700,0.891704,0.893692,0.894115
hill,0.650338,0.737785,0.809298,0.870776,0.906285,0.870776
ilpd,0.611008,0.675936,0.692992,0.700000,0.749056,0.705184
kc,0.565745,0.746161,0.800896,0.778135,0.800225,0.798802
liver,0.525833,0.655606,0.710227,0.734318,0.778485,0.722197
musk,0.731701,0.716209,0.822700,0.879689,0.951931,0.872322
ozone,0.481794,0.783786,0.871620,0.768213,0.924160,0.887403
pc1,0.524208,0.683703,0.844067,0.531108,0.888555,0.841515
pc3,0.477078,0.741271,0.799218,0.732581,0.811985,0.805938
qsar,0.768206,0.797748,0.930699,0.919359,0.924201,0.915986
retinopathy,0.702577,0.750228,0.735246,0.816036,0.829737,0.816660
scene,0.686712,0.875806,0.922124,0.902450,0.917613,0.906704
spam,0.965171,0.969650,0.976555,0.971830,0.961068,0.972700
spect,0.447059,0.809743,0.809007,0.809375,0.891912,0.813787

In [619]:
ana = Analysis('experiment1')
ranks = ana.get_ranks_by_metric()
ranks['test.accuracy'].groupby(['config_id', 'dataset_name'])['rank'].mean().unstack()

dataset_name,blood,clima,eeg,fertility,gina,hill,ilpd,kc,liver,musk,ozone,pc1,pc3,qsar,retinopathy,scene,spam,spect
config_id,,,,,,,,,,,,,,,,,,
1,1.0,2.0,1.0,1.0,1.0,1.0,3.0,5.0,1.0,1.0,4.0,4.0,3.0,1.0,1.0,4.0,5.0,1.0
2,NaN,1.0,2.0,3.0,3.0,2.0,2.0,2.0,2.0,3.0,2.0,1.0,1.0,2.0,2.0,1.0,1.0,2.0
3,NaN,5.0,3.0,5.0,2.0,2.0,5.0,6.0,3.0,2.0,5.0,5.0,4.0,3.0,3.0,5.0,2.0,5.0
4,NaN,3.0,5.0,4.0,5.0,4.0,6.0,3.0,5.0,5.0,3.0,3.0,5.0,5.0,4.0,2.0,3.0,4.0
5,NaN,4.0,4.0,2.0,4.0,5.0,1.0,1.0,4.0,4.0,1.0,2.0,2.0,4.0,5.0,3.0,4.0,3.0
6,NaN,6.0,6.0,6.0,6.0,6.0,4.0,4.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0

In [620]:
ranks['test.f1_score'].groupby(['config_id', 'dataset_name'])['rank'].mean().unstack()

dataset_name,blood,clima,eeg,fertility,gina,hill,ilpd,kc,liver,musk,ozone,pc1,pc3,qsar,retinopathy,scene,spam,spect
config_id,,,,,,,,,,,,,,,,,,
1,1.0,1.0,3.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,5.0,1.0
2,NaN,2.0,4.0,6.0,3.0,2.0,4.0,4.0,2.0,3.0,5.0,4.0,5.0,2.0,3.0,4.0,1.0,4.0
3,NaN,3.0,2.0,2.0,2.0,2.0,3.0,3.0,3.0,2.0,2.0,2.0,1.0,3.0,2.0,2.0,2.0,2.0
4,NaN,4.0,1.0,4.0,5.0,4.0,2.0,1.0,4.0,4.0,3.0,3.0,3.0,4.0,4.0,3.0,3.0,3.0
5,NaN,6.0,6.0,5.0,4.0,5.0,5.0,6.0,6.0,5.0,6.0,6.0,6.0,5.0,5.0,6.0,4.0,6.0
6,NaN,5.0,5.0,3.0,6.0,6.0,6.0,5.0,5.0,6.0,4.0,5.0,4.0,6.0,6.0,5.0,6.0,5.0

In [621]:
ranks['test.roc_auc'].groupby(['config_id', 'dataset_name'])['rank'].mean().unstack()

dataset_name,blood,clima,eeg,fertility,gina,hill,ilpd,kc,liver,musk,ozone,pc1,pc3,qsar,retinopathy,scene,spam,spect
config_id,,,,,,,,,,,,,,,,,,
1,1.0,1.0,2.0,1.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,6.0,1.0
2,NaN,2.0,4.0,3.0,3.0,2.0,3.0,4.0,2.0,2.0,5.0,5.0,5.0,3.0,3.0,4.0,3.0,4.0
3,NaN,3.0,3.0,2.0,1.0,2.0,2.0,3.0,3.0,3.0,2.0,3.0,2.0,4.0,2.0,3.0,2.0,2.0
4,NaN,5.0,5.0,6.0,6.0,5.0,5.0,5.0,5.0,6.0,4.0,4.0,4.0,5.0,4.0,5.0,4.0,3.0
5,NaN,6.0,6.0,4.0,5.0,6.0,6.0,6.0,6.0,5.0,6.0,6.0,6.0,6.0,6.0,6.0,5.0,6.0
6,NaN,4.0,1.0,4.0,4.0,4.0,4.0,1.0,4.0,4.0,3.0,2.0,3.0,1.0,5.0,1.0,1.0,5.0

In [622]:
ranks['test.accuracy'].groupby(['config_id'])['rank'].mean().reset_index()

   config_id      rank
0          1  2.222222
1          2  1.882353
2          3  3.823529
3          4  4.058824
4          5  3.117647
5          6  5.764706

In [623]:
ranks['test.f1_score'].groupby(['config_id'])['rank'].mean().reset_index()

   config_id      rank
0          1  1.444444
1          2  3.411765
2          3  2.235294
3          4  3.235294
4          5  5.411765
5          6  5.176471

In [624]:
ranks['test.roc_auc'].groupby(['config_id'])['rank'].mean().reset_index()

   config_id      rank
0          1  1.555556
1          2  3.352941
2          3  2.470588
3          4  4.764706
4          5  5.705882
5          6  3.000000

In [625]:
ranks_strong_imbalance = ranks['test.accuracy'].loc[ranks['test.accuracy']['dataset_name'].isin(strong_imbalance)]
ranks_weak_imbalance = ranks['test.accuracy'].loc[ranks['test.accuracy']['dataset_name'].isin(weak_imbalance)]

In [626]:
ranks_strong_imbalance.groupby(['config_id'])['rank'].mean().reset_index()

   config_id   rank
0          1  3.000
1          2  1.625
2          3  5.000
3          4  3.375
4          5  2.250
5          6  5.750

In [627]:
ranks_weak_imbalance.groupby(['config_id'])['rank'].mean().reset_index()

   config_id      rank
0          1  1.600000
1          2  2.111111
2          3  2.777778
3          4  4.666667
4          5  3.888889
5          6  5.777778

In [628]:
ranks_strong_imbalance = ranks['test.f1_score'].loc[ranks['test.f1_score']['dataset_name'].isin(strong_imbalance)]
ranks_weak_imbalance = ranks['test.f1_score'].loc[ranks['test.f1_score']['dataset_name'].isin(weak_imbalance)]

In [629]:
ranks_strong_imbalance.groupby(['config_id'])['rank'].mean().reset_index()

   config_id   rank
0          1  1.250
1          2  4.250
2          3  2.125
3          4  3.000
4          5  5.875
5          6  4.500

In [630]:
ranks_weak_imbalance.groupby(['config_id'])['rank'].mean().reset_index()

   config_id      rank
0          1  1.600000
1          2  2.666667
2          3  2.333333
3          4  3.444444
4          5  5.000000
5          6  5.777778

In [631]:
ranks_strong_imbalance = ranks['test.roc_auc'].loc[ranks['test.roc_auc']['dataset_name'].isin(strong_imbalance)]
ranks_weak_imbalance = ranks['test.roc_auc'].loc[ranks['test.roc_auc']['dataset_name'].isin(weak_imbalance)]

In [632]:
ranks_strong_imbalance.groupby(['config_id'])['rank'].mean().reset_index()

   config_id   rank
0          1  1.250
1          2  4.000
2          3  2.500
3          4  4.500
4          5  5.750
5          6  2.875

In [633]:
ranks_weak_imbalance.groupby(['config_id'])['rank'].mean().reset_index()

   config_id      rank
0          1  1.800000
1          2  2.777778
2          3  2.444444
3          4  5.000000
4          5  5.666667
5          6  3.111111