In [1]:
import sys
import os
sys.path.insert(0, os.path.abspath("../"))
from analysis import *
import pandas as pd
from scipy import stats
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np
import random
from analysis import *
import pandas as pd

In [2]:
info_df = pd.read_csv("../../data/data_info.csv")
strong_imbalance = info_df.loc[info_df["imbalance"] <= 0.41, "name"]
weak_imbalance = info_df.loc[info_df["imbalance"] > 0.41, "name"]

In [3]:
results = get_all_results('experiment1')
results

,config_id,run_id,name,oversampling,config.pop_size,config.n_iter,config.elitism,config.n_elites,config.init_depth,config.initializer,...,train.roc_auc,train.f1_score,train.precision,train.recall,test.accuracy,test.roc_auc,test.f1_score,test.precision,test.recall,dataset_name
0,1,1,GSGP,True,150,300,True,1,6,rhh,...,0.795805,0.729636,0.720890,0.738596,0.693333,0.769981,0.510638,0.413793,0.666667,blood
1,1,2,GSGP,True,150,300,True,1,6,rhh,...,0.797845,0.722504,0.697712,0.749123,0.711111,0.795538,0.545455,0.438202,0.722222,blood
2,1,3,GSGP,True,150,300,True,1,6,rhh,...,0.794346,0.729097,0.696486,0.764912,0.671111,0.729153,0.493151,0.391304,0.666667,blood
3,1,4,GSGP,True,150,300,True,1,6,rhh,...,0.800782,0.733114,0.690994,0.780702,0.608889,0.730886,0.469880,0.348214,0.722222,blood
4,1,5,GSGP,True,150,300,True,1,6,rhh,...,0.790637,0.719449,0.706081,0.733333,0.640000,0.725796,0.463576,0.360825,0.648148,blood
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,2,4,GSGP,False,150,300,True,1,6,rhh,...,0.695272,0.567600,0.649507,0.504037,0.649310,0.690396,0.564159,0.637899,0.505702,eeg
189,2,5,GSGP,False,150,300,True,1,6,rhh,...,0.694027,0.595931,0.632546,0.563323,0.654873,0.690214,0.592164,0.630459,0.558255,eeg
190,3,1,GSGP,False,150,300,True,1,6,rhh,...,0.689366,0.614794,0.586127,0.646409,0.639074,0.680736,0.617453,0.588844,0.648984,eeg
191,3,2,GSGP,False,150,300,True,1,6,rhh,...,0.685685,0.614371,0.587289,0.644071,0.632844,0.687405,0.612858,0.581737,0.647496,eeg
192,3,3,GSGP,False,150,300,True,1,6,rhh,...,0.683559,0.616303,0.587997,0.647471,0.640632,0.691310,0.618654,0.590622,0.649479,eeg

In [4]:
results = results.sort_values('test.f1_score', ascending=False)
results['rank'] = results.groupby('dataset_name')['test.f1_score'].rank(ascending=False)

In [5]:
settings = results[['config_id', 'name']].drop_duplicates().sort_values('config_id')
settings['config_settings'] = settings['name']
settings = settings[['config_id', 'config_settings']]
results = results.merge(settings, on='config_id')
results

,config_id,run_id,name,oversampling,config.pop_size,config.n_iter,config.elitism,config.n_elites,config.init_depth,config.initializer,...,train.precision,train.recall,test.accuracy,test.roc_auc,test.f1_score,test.precision,test.recall,dataset_name,rank,config_settings
0,2,3,GSGP,False,150,300,True,1,6,rhh,...,0.958333,0.718750,0.969136,0.988900,0.814815,0.846154,0.785714,clima,1.0,GSGP
1,2,2,GSGP,False,150,300,True,1,6,rhh,...,1.000000,0.812500,0.944444,0.960907,0.608696,0.777778,0.500000,clima,8.0,GSGP
2,2,3,GSGP,False,150,300,True,1,6,rhh,...,0.604631,0.582660,0.648643,0.697343,0.600354,0.613237,0.588002,eeg,8.0,GSGP
3,2,5,GSGP,False,150,300,True,1,6,rhh,...,0.632546,0.563323,0.654873,0.690214,0.592164,0.630459,0.558255,eeg,10.0,GSGP
4,2,2,GSGP,False,150,300,True,1,6,rhh,...,0.604944,0.592860,0.633734,0.683239,0.591361,0.592243,0.590481,eeg,11.0,GSGP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,8,1,SLIM*SIG1,False,150,300,True,1,6,rhh,...,0.000000,0.000000,0.913580,0.899131,0.000000,0.000000,0.000000,clima,76.5,SLIM*SIG1
189,8,2,SLIM*SIG1,False,150,300,True,1,6,rhh,...,0.000000,0.000000,0.913580,0.944981,0.000000,0.000000,0.000000,clima,76.5,SLIM*SIG1
190,8,3,SLIM*SIG1,False,150,300,True,1,6,rhh,...,0.000000,0.000000,0.913580,0.938224,0.000000,0.000000,0.000000,clima,76.5,SLIM*SIG1
191,8,4,SLIM*SIG1,False,150,300,True,1,6,rhh,...,0.000000,0.000000,0.913580,0.890444,0.000000,0.000000,0.000000,clima,76.5,SLIM*SIG1
192,8,5,SLIM*SIG1,False,150,300,True,1,6,rhh,...,0.000000,0.000000,0.913580,0.962355,0.000000,0.000000,0.000000,clima,76.5,SLIM*SIG1

In [6]:
results.groupby(['dataset_name', 'config_id', 'run_id'])['test.accuracy'].mean().unstack().mean(axis=1).sort_values(ascending=False).unstack()

config_id,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
dataset_name,,,,,,,,,,,,,,,,,,
blood,0.664889,0.793778,0.651556,0.700444,0.760000,0.240000,0.448000,0.76000,0.448000,0.628444,0.76000,0.240000,0.673778,0.775111,0.662222,0.669333,0.759111,0.240000
clima,0.913580,0.943210,0.874074,0.823457,0.911111,0.748148,0.538272,0.91358,0.632099,0.643210,0.91358,0.416049,0.806173,0.913580,0.811111,0.923457,0.914815,0.283951
eeg,0.639252,0.645527,0.637517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
get_aggregated_performance(results,  'test.f1_score', 'mean')

config_settings      GSGP  SLIM*SIG1  SLIM+SIG1
dataset_name
blood            0.392478   0.223437   0.356860
clima            0.389479   0.134166   0.280402
eeg              0.600122        NaN        NaN

In [ ]:
settings = results[['config_id', 'oversampling', 'config.fitness_function']].drop_duplicates().sort_values('config_id')
settings['config_settings'] = results['name'] + results['config.fitness_function'] + results['oversampling'].astype(str)
settings['config_settings'] = (
    settings['config_settings']
    .str.replace('True', '_oversampling', regex=False)
    .str.replace('False', '', regex=False)
)
settings = settings[['config_id', 'config_settings']]
settings

     config_id            config_settings
15           1  sigmoid_rmse_oversampling
0            2               sigmoid_rmse
40           3      weighted_sigmoid_rmse
73           4                   f1_score
93           5                   accuracy
123          6                    roc_auc
133          7  sigmoid_rmse_oversampling
183          8               sigmoid_rmse
143          9      weighted_sigmoid_rmse
83          10                   f1_score
173         11                   accuracy
113         12                    roc_auc
53          13  sigmoid_rmse_oversampling
163         14               sigmoid_rmse
63          15      weighted_sigmoid_rmse
30          16                   f1_score
103         17                   accuracy
153         18                    roc_auc

In [9]:
results = results.merge(settings, on='config_id')
results

,config_id,run_id,name,oversampling,config.pop_size,config.n_iter,config.elitism,config.n_elites,config.init_depth,config.initializer,...,train.recall,test.accuracy,test.roc_auc,test.f1_score,test.precision,test.recall,dataset_name,rank,config_settings_x,config_settings_y
0,2,3,GSGP,False,150,300,True,1,6,rhh,...,0.718750,0.969136,0.988900,0.814815,0.846154,0.785714,clima,1.0,GSGP,sigmoid_rmse
1,2,2,GSGP,False,150,300,True,1,6,rhh,...,0.812500,0.944444,0.960907,0.608696,0.777778,0.500000,clima,8.0,GSGP,sigmoid_rmse
2,2,3,GSGP,False,150,300,True,1,6,rhh,...,0.582660,0.648643,0.697343,0.600354,0.613237,0.588002,eeg,8.0,GSGP,sigmoid_rmse
3,2,5,GSGP,False,150,300,True,1,6,rhh,...,0.563323,0.654873,0.690214,0.592164,0.630459,0.558255,eeg,10.0,GSGP,sigmoid_rmse
4,2,2,GSGP,False,150,300,True,1,6,rhh,...,0.592860,0.633734,0.683239,0.591361,0.592243,0.590481,eeg,11.0,GSGP,sigmoid_rmse
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,8,1,SLIM*SIG1,False,150,300,True,1,6,rhh,...,0.000000,0.913580,0.899131,0.000000,0.000000,0.000000,clima,76.5,SLIM*SIG1,sigmoid_rmse
189,8,2,SLIM*SIG1,False,150,300,True,1,6,rhh,...,0.000000,0.913580,0.944981,0.000000,0.000000,0.000000,clima,76.5,SLIM*SIG1,sigmoid_rmse
190,8,3,SLIM*SIG1,False,150,300,True,1,6,rhh,...,0.000000,0.913580,0.938224,0.000000,0.000000,0.000000,clima,76.5,SLIM*SIG1,sigmoid_rmse
191,8,4,SLIM*SIG1,False,150,300,True,1,6,rhh,...,0.000000,0.913580,0.890444,0.000000,0.000000,0.000000,clima,76.5,SLIM*SIG1,sigmoid_rmse
192,8,5,SLIM*SIG1,False,150,300,True,1,6,rhh,...,0.000000,0.913580,0.962355,0.000000,0.000000,0.000000,clima,76.5,SLIM*SIG1,sigmoid_rmse

In [10]:
logs = get_all_logs('experiment1')
logs

,config_id,algorithm,dataset,seed,generation,elite_train_error,time,population_nodes,elite_test_error,elite_nodes,log_level
0,1,GSGP,blood,1,1,0.471964,0.050043,2664.0,0.477769,9,1
1,1,GSGP,blood,1,2,0.471940,0.045079,3378.0,0.477763,15,1
2,1,GSGP,blood,1,3,0.471940,0.048885,4256.0,0.477763,15,1
3,1,GSGP,blood,1,4,0.465850,0.043108,5220.0,0.444314,27,1
4,1,GSGP,blood,1,5,0.462842,0.044979,6154.0,0.470333,33,1
...,...,...,...,...,...,...,...,...,...,...,...
58138,3,GSGP,eeg,4,84,0.006577,4.162898,70012.0,0.010023,473,1
58139,3,GSGP,eeg,4,85,0.006577,3.936049,70988.0,0.010023,473,1
58140,3,GSGP,eeg,4,86,0.006577,4.324851,71836.0,0.010023,473,1
58141,3,GSGP,eeg,4,87,0.006574,4.360687,73050.0,0.010019,493,1
58142,3,GSGP,eeg,4,88,0.006574,4.444667,73686.0,0.010019,493,1

In [11]:
ranks = {}
ranks['test.accuracy']=get_avg_ranking(results, 'test.accuracy')
ranks['test.accuracy']

KeyError: 'config_settings'

In [ ]:
ranks['test.f1_score']=get_avg_ranking(results, 'test.f1_score')
ranks['test.f1_score']

             config_settings  avg_rank
0  sigmoid_rmse_oversampling  1.444444
1      weighted_sigmoid_rmse  2.235294
2                   f1_score  3.235294
3               sigmoid_rmse  3.411765
4                    roc_auc  5.176471
5                   accuracy  5.411765

In [ ]:
ranks['test.roc_auc']=get_avg_ranking(results, 'test.roc_auc')
ranks['test.roc_auc']

             config_settings  avg_rank
0  sigmoid_rmse_oversampling  1.555556
1      weighted_sigmoid_rmse  2.470588
2                    roc_auc  3.000000
3               sigmoid_rmse  3.352941
4                   f1_score  4.764706
5                   accuracy  5.705882

In [ ]:
ranks = get_rankings(results, 'test.accuracy')
ranks[ranks.index.isin(strong_imbalance)]

config_settings,accuracy,f1_score,roc_auc,sigmoid_rmse,sigmoid_rmse_oversampling,weighted_sigmoid_rmse
dataset_name,,,,,,
blood,NaN,NaN,NaN,NaN,1.0,NaN
clima,4.0,3.0,6.0,1.0,2.0,5.0
fertility,2.0,4.0,6.0,3.0,1.0,5.0
ilpd,1.0,6.0,4.0,2.0,3.0,5.0
kc,1.0,3.0,4.0,2.0,5.0,6.0
ozone,1.0,3.0,6.0,2.0,4.0,5.0
pc1,2.0,3.0,6.0,1.0,4.0,5.0
pc3,2.0,5.0,6.0,1.0,3.0,4.0
qsar,4.0,5.0,6.0,2.0,1.0,3.0
scene,3.0,2.0,6.0,1.0,4.0,5.0
spam,4.0,3.0,6.0,1.0,5.0,2.0
spect,3.0,4.0,6.0,2.0,1.0,5.0

dataset_name
blood        1.0
clima        3.5
fertility    3.5
ilpd         3.5
kc           3.5
ozone        3.5
pc1          3.5
pc3          3.5
qsar         3.5
scene        3.5
spam         3.5
spect        3.5
dtype: float64

In [ ]:
ranks_strong_imbalance.groupby(['config_id'])['rank'].mean().reset_index()

   config_id   rank
0          1  3.000
1          2  1.625
2          3  5.000
3          4  3.375
4          5  2.250
5          6  5.750

In [ ]:
ranks_weak_imbalance.groupby(['config_id'])['rank'].mean().reset_index()

   config_id      rank
0          1  1.600000
1          2  2.111111
2          3  2.777778
3          4  4.666667
4          5  3.888889
5          6  5.777778

In [ ]:
ranks_strong_imbalance = ranks['test.f1_score'].loc[ranks['test.f1_score']['dataset_name'].isin(strong_imbalance)]
ranks_weak_imbalance = ranks['test.f1_score'].loc[ranks['test.f1_score']['dataset_name'].isin(weak_imbalance)]

In [ ]:
ranks_strong_imbalance.groupby(['config_id'])['rank'].mean().reset_index()

   config_id   rank
0          1  1.250
1          2  4.250
2          3  2.125
3          4  3.000
4          5  5.875
5          6  4.500

In [ ]:
ranks_weak_imbalance.groupby(['config_id'])['rank'].mean().reset_index()

   config_id      rank
0          1  1.600000
1          2  2.666667
2          3  2.333333
3          4  3.444444
4          5  5.000000
5          6  5.777778

In [ ]:
ranks_strong_imbalance = ranks['test.roc_auc'].loc[ranks['test.roc_auc']['dataset_name'].isin(strong_imbalance)]
ranks_weak_imbalance = ranks['test.roc_auc'].loc[ranks['test.roc_auc']['dataset_name'].isin(weak_imbalance)]

In [ ]:
ranks_strong_imbalance.groupby(['config_id'])['rank'].mean().reset_index()

   config_id   rank
0          1  1.250
1          2  4.000
2          3  2.500
3          4  4.500
4          5  5.750
5          6  2.875

In [ ]:
ranks_weak_imbalance.groupby(['config_id'])['rank'].mean().reset_index()

   config_id      rank
0          1  1.800000
1          2  2.777778
2          3  2.444444
3          4  5.000000
4          5  5.666667
5          6  3.111111