In [286]:
import sys
import os
sys.path.insert(0, os.path.abspath("../"))
from analysis import *
import pandas as pd
from scipy import stats
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np
import random
from analysis import *

In [287]:
info_df = pd.read_csv("../../data/data_info.csv")
strong_imbalance = info_df.loc[info_df["imbalance"] <= 0.21, "name"]
weak_imbalance = info_df.loc[info_df["imbalance"] > 0.21, "name"]

In [288]:
results = get_all_results('experiment4')
results

,config_id,run_id,name,oversampling,config.pop_size,config.n_iter,config.elitism,config.n_elites,config.init_depth,config.initializer,...,train.roc_auc,train.f1_score,train.precision,train.recall,test.accuracy,test.roc_auc,test.f1_score,test.precision,test.recall,dataset_name
0,1,1,GSGP,True,100,500,True,1,6,rhh,...,0.802330,0.733837,0.703704,0.766667,0.671111,0.769114,0.500000,0.393617,0.685185,blood
1,1,2,GSGP,True,100,500,True,1,6,rhh,...,0.800342,0.737288,0.713115,0.763158,0.737778,0.804094,0.581560,0.471264,0.759259,blood
2,1,3,GSGP,True,100,500,True,1,6,rhh,...,0.799141,0.724258,0.720486,0.728070,0.693333,0.720598,0.465116,0.400000,0.555556,blood
3,1,4,GSGP,True,100,500,True,1,6,rhh,...,0.798744,0.729254,0.698234,0.763158,0.613333,0.724388,0.459627,0.345794,0.685185,blood
4,1,5,GSGP,True,100,500,True,1,6,rhh,...,0.795873,0.730405,0.717428,0.743860,0.648889,0.743015,0.476821,0.371134,0.666667,blood
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,4,2,SLIM+SIG2,True,100,500,True,1,6,rhh,...,0.778750,0.703798,0.712821,0.695000,0.692308,0.774242,0.636364,0.636364,0.636364,liver
177,4,3,SLIM+SIG2,True,100,500,True,1,6,rhh,...,0.776925,0.696970,0.704082,0.690000,0.682692,0.760227,0.645161,0.612245,0.681818,liver
178,4,4,SLIM+SIG2,True,100,500,True,1,6,rhh,...,0.775050,0.709845,0.736559,0.685000,0.750000,0.793561,0.711111,0.695652,0.727273,liver
179,4,5,SLIM+SIG2,True,100,500,True,1,6,rhh,...,0.772575,0.680851,0.727273,0.640000,0.634615,0.695833,0.577778,0.565217,0.590909,liver
180,1,1,GSGP,True,100,500,True,1,6,rhh,...,0.986263,0.960894,0.962687,0.959108,0.958042,0.982875,0.950000,0.982759,0.919355,musk

In [289]:
results = results.sort_values('test.f1_score', ascending=False)
results['rank'] = results.groupby('dataset_name')['test.f1_score'].rank(ascending=False)

In [290]:

results

,config_id,run_id,name,oversampling,config.pop_size,config.n_iter,config.elitism,config.n_elites,config.init_depth,config.initializer,...,train.f1_score,train.precision,train.recall,test.accuracy,test.roc_auc,test.f1_score,test.precision,test.recall,dataset_name,rank
61,1,2,GSGP,True,100,500,True,1,6,rhh,...,0.965116,0.988095,0.943182,1.000000,1.000000,1.000000,1.000000,1.000000,fertility,1.0
180,1,1,GSGP,True,100,500,True,1,6,rhh,...,0.960894,0.962687,0.959108,0.958042,0.982875,0.950000,0.982759,0.919355,musk,1.0
102,1,3,GSGP,True,100,500,True,1,6,rhh,...,0.914381,0.921273,0.907591,0.914835,0.966037,0.915531,0.908108,0.923077,hill,1.0
84,1,5,GSGP,True,100,500,True,1,6,rhh,...,0.893379,0.890335,0.896444,0.908034,0.959466,0.906752,0.903846,0.909677,gina,1.0
103,1,4,GSGP,True,100,500,True,1,6,rhh,...,0.918740,0.923333,0.914191,0.906593,0.940526,0.906593,0.906593,0.906593,hill,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,2,5,SLIM+ABS,True,100,500,True,1,6,rhh,...,0.748570,0.727754,0.770611,0.695103,0.763761,0.398754,0.286996,0.653061,kc,20.0
32,3,3,SLIM+SIG1,True,100,500,True,1,6,rhh,...,0.871841,0.786645,0.977733,0.734568,0.933398,0.394366,0.245614,1.000000,clima,20.0
72,3,3,SLIM+SIG1,True,100,500,True,1,6,rhh,...,0.919540,0.930233,0.909091,0.766667,0.461538,0.000000,0.000000,0.000000,fertility,19.0
77,4,3,SLIM+SIG2,True,100,500,True,1,6,rhh,...,0.924856,0.941176,0.909091,0.800000,0.490385,0.000000,0.000000,0.000000,fertility,19.0
67,2,3,SLIM+ABS,True,100,500,True,1,6,rhh,...,0.941176,0.975610,0.909091,0.800000,0.548077,0.000000,0.000000,0.000000,fertility,19.0

In [291]:
results.groupby(['dataset_name', 'config_id', 'run_id'])['test.accuracy'].mean().unstack().mean(axis=1).sort_values(ascending=False).unstack()

config_id            1         2         3         4
dataset_name
blood         0.672889  0.666667  0.668444  0.675556
clima         0.949383  0.870370  0.830864  0.820988
eeg           0.634624  0.564174  0.588429  0.627592
fertility     0.960000  0.880000  0.866667  0.866667
gina          0.889006  0.797252  0.809302  0.797674
hill          0.905494  0.726374  0.759890  0.750549
ilpd          0.688000  0.606857  0.624000  0.626286
kc            0.739021  0.694787  0.676145  0.682780
liver         0.725000  0.700000  0.715385  0.705769
musk          0.958042       NaN       NaN       NaN

In [292]:
settings = results[['config_id', 'name']].drop_duplicates().sort_values('config_id')
settings['config_settings'] = settings['name']
settings = settings[['config_id', 'config_settings']]
settings

    config_id config_settings
61          1            GSGP
88          2        SLIM+ABS
93          3       SLIM+SIG1
98          4       SLIM+SIG2

In [293]:
results = results.merge(settings, on='config_id')
results

,config_id,run_id,name,oversampling,config.pop_size,config.n_iter,config.elitism,config.n_elites,config.init_depth,config.initializer,...,train.precision,train.recall,test.accuracy,test.roc_auc,test.f1_score,test.precision,test.recall,dataset_name,rank,config_settings
0,1,2,GSGP,True,100,500,True,1,6,rhh,...,0.988095,0.943182,1.000000,1.000000,1.000000,1.000000,1.000000,fertility,1.0,GSGP
1,1,1,GSGP,True,100,500,True,1,6,rhh,...,0.962687,0.959108,0.958042,0.982875,0.950000,0.982759,0.919355,musk,1.0,GSGP
2,1,3,GSGP,True,100,500,True,1,6,rhh,...,0.921273,0.907591,0.914835,0.966037,0.915531,0.908108,0.923077,hill,1.0,GSGP
3,1,5,GSGP,True,100,500,True,1,6,rhh,...,0.890335,0.896444,0.908034,0.959466,0.906752,0.903846,0.909677,gina,1.0,GSGP
4,1,4,GSGP,True,100,500,True,1,6,rhh,...,0.923333,0.914191,0.906593,0.940526,0.906593,0.906593,0.906593,hill,2.0,GSGP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,2,5,SLIM+ABS,True,100,500,True,1,6,rhh,...,0.661765,0.757212,0.548571,0.663360,0.423358,0.333333,0.580000,ilpd,20.0,SLIM+ABS
177,2,1,SLIM+ABS,True,100,500,True,1,6,rhh,...,0.709756,0.816040,0.685624,0.813389,0.423188,0.295547,0.744898,kc,15.0,SLIM+ABS
178,2,3,SLIM+ABS,True,100,500,True,1,6,rhh,...,0.717064,0.827257,0.655608,0.780259,0.401099,0.274436,0.744898,kc,18.0,SLIM+ABS
179,2,5,SLIM+ABS,True,100,500,True,1,6,rhh,...,0.727754,0.770611,0.695103,0.763761,0.398754,0.286996,0.653061,kc,20.0,SLIM+ABS
180,2,3,SLIM+ABS,True,100,500,True,1,6,rhh,...,0.975610,0.909091,0.800000,0.548077,0.000000,0.000000,0.000000,fertility,19.0,SLIM+ABS

In [294]:
logs = get_all_logs('experiment4')
logs

,config_id,algorithm,dataset,seed,generation,elite_train_error,time,population_nodes,elite_test_error,elite_nodes,log_level
0,1,GSGP,blood,1,1,0.488119,0.035235,1674.0,0.541657,13,1
1,1,GSGP,blood,1,2,0.487492,0.040060,2110.0,0.538053,19,1
2,1,GSGP,blood,1,3,0.476080,0.034311,2476.0,0.447111,27,1
3,1,GSGP,blood,1,4,0.476010,0.034666,3212.0,0.483274,25,1
4,1,GSGP,blood,1,5,0.473637,0.038076,3612.0,0.513860,33,1
...,...,...,...,...,...,...,...,...,...,...,...
90755,1,GSGP,musk,2,111,0.328824,0.069577,57520.0,0.320793,551,1
90756,1,GSGP,musk,2,112,0.328824,0.073464,57764.0,0.320793,551,1
90757,1,GSGP,musk,2,113,0.328824,0.071558,58030.0,0.320793,551,1
90758,1,GSGP,musk,2,114,0.327584,0.078542,58204.0,0.317166,583,1
90759,1,GSGP,musk,2,115,0.325107,0.056954,58666.0,0.318825,563,1

In [295]:
results.groupby(['dataset_name', 'config_settings'])['test.accuracy'].mean().unstack()

config_settings      GSGP  SLIM+ABS  SLIM+SIG1  SLIM+SIG2
dataset_name
blood            0.672889  0.666667   0.668444   0.675556
clima            0.949383  0.870370   0.830864   0.820988
eeg              0.634624  0.564174   0.588429   0.627592
fertility        0.960000  0.880000   0.866667   0.866667
gina             0.889006  0.797252   0.809302   0.797674
hill             0.905494  0.726374   0.759890   0.750549
ilpd             0.688000  0.606857   0.624000   0.626286
kc               0.739021  0.694787   0.676145   0.682780
liver            0.725000  0.700000   0.715385   0.705769
musk             0.958042       NaN        NaN        NaN

In [296]:
results.groupby(['dataset_name', 'config_settings'])['test.f1_score'].mean().unstack()

config_settings      GSGP  SLIM+ABS  SLIM+SIG1  SLIM+SIG2
dataset_name
blood            0.496625  0.505429   0.496707   0.508953
clima            0.772138  0.569270   0.501139   0.478283
eeg              0.613990  0.585590   0.617730   0.602397
fertility        0.828571  0.500952   0.481905   0.478571
gina             0.886572  0.790817   0.806476   0.792267
hill             0.904513  0.741240   0.758409   0.748867
ilpd             0.587144  0.507344   0.539822   0.550509
kc               0.456748  0.424051   0.425860   0.433490
liver            0.683565  0.660278   0.662154   0.654083
musk             0.950000       NaN        NaN        NaN

In [297]:
results.groupby(['dataset_name', 'config_settings'])['test.roc_auc'].mean().unstack()

config_settings      GSGP  SLIM+ABS  SLIM+SIG1  SLIM+SIG2
dataset_name
blood            0.752242  0.736106   0.740264   0.746285
clima            0.978571  0.946236   0.936100   0.934459
eeg              0.693372  0.619664   0.646346   0.675076
fertility        0.825000  0.832692   0.725000   0.765385
gina             0.942117  0.872150   0.880875   0.871059
hill             0.951986  0.806231   0.821042   0.818615
ilpd             0.768512  0.714304   0.725408   0.720448
kc               0.816994  0.792493   0.795899   0.805268
liver            0.800076  0.773788   0.767273   0.771970
musk             0.982875       NaN        NaN        NaN

In [298]:
ana = Analysis('experiment3')
ranks = ana.get_ranks_by_metric()
ranks['test.accuracy'].groupby(['config_id', 'dataset_name'])['rank'].mean().unstack()

dataset_name  blood  clima  eeg  fertility  gina  hill  ilpd   kc
config_id
1               2.0    1.0  1.0        1.0   1.0   1.0   1.0  1.0
2               4.0    2.0  4.0        2.0   4.0   4.0   4.0  2.0
3               3.0    3.0  3.0        4.0   2.0   2.0   3.0  3.0
4               1.0    4.0  2.0        3.0   3.0   3.0   2.0  4.0

In [299]:
ranks['test.f1_score'].groupby(['config_id', 'dataset_name'])['rank'].mean().unstack()

dataset_name  blood  clima  eeg  fertility  gina  hill  ilpd   kc
config_id
1               4.0    1.0  2.0        1.0   1.0   1.0   1.0  1.0
2               2.0    2.0  4.0        2.0   4.0   4.0   4.0  3.0
3               3.0    3.0  1.0        3.0   2.0   2.0   3.0  2.0
4               1.0    4.0  3.0        4.0   3.0   3.0   2.0  4.0

In [300]:
ranks['test.roc_auc'].groupby(['config_id', 'dataset_name'])['rank'].mean().unstack()

dataset_name  blood  clima  eeg  fertility  gina  hill  ilpd   kc
config_id
1               1.0    1.0  1.0        2.0   1.0   1.0   1.0  1.0
2               4.0    2.0  4.0        1.0   3.0   4.0   4.0  4.0
3               3.0    3.0  3.0        4.0   2.0   2.0   2.0  3.0
4               2.0    4.0  2.0        3.0   4.0   3.0   3.0  2.0

In [301]:
ranks['test.accuracy'].groupby(['config_id'])['rank'].mean().reset_index()

   config_id   rank
0          1  1.125
1          2  3.250
2          3  2.875
3          4  2.750

In [302]:
ranks['test.f1_score'].groupby(['config_id'])['rank'].mean().reset_index()

   config_id   rank
0          1  1.500
1          2  3.125
2          3  2.375
3          4  3.000

In [303]:
ranks['test.roc_auc'].groupby(['config_id'])['rank'].mean().reset_index()

   config_id   rank
0          1  1.125
1          2  3.250
2          3  2.750
3          4  2.875

In [304]:
ranks_strong_imbalance = ranks['test.accuracy'].loc[ranks['test.accuracy']['dataset_name'].isin(strong_imbalance)]
ranks_weak_imbalance = ranks['test.accuracy'].loc[ranks['test.accuracy']['dataset_name'].isin(weak_imbalance)]

In [305]:
ranks_strong_imbalance.groupby(['config_id'])['rank'].mean().reset_index()

   config_id      rank
0          1  1.000000
1          2  2.000000
2          3  3.333333
3          4  3.666667

In [306]:
ranks_weak_imbalance.groupby(['config_id'])['rank'].mean().reset_index()

   config_id  rank
0          1   1.2
1          2   4.0
2          3   2.6
3          4   2.2

In [307]:
ranks_strong_imbalance = ranks['test.f1_score'].loc[ranks['test.f1_score']['dataset_name'].isin(strong_imbalance)]
ranks_weak_imbalance = ranks['test.f1_score'].loc[ranks['test.f1_score']['dataset_name'].isin(weak_imbalance)]

In [308]:
ranks_strong_imbalance.groupby(['config_id'])['rank'].mean().reset_index()

   config_id      rank
0          1  1.000000
1          2  2.333333
2          3  2.666667
3          4  4.000000

In [309]:
ranks_weak_imbalance.groupby(['config_id'])['rank'].mean().reset_index()

   config_id  rank
0          1   1.8
1          2   3.6
2          3   2.2
3          4   2.4

In [310]:
ranks_strong_imbalance = ranks['test.roc_auc'].loc[ranks['test.roc_auc']['dataset_name'].isin(strong_imbalance)]
ranks_weak_imbalance = ranks['test.roc_auc'].loc[ranks['test.roc_auc']['dataset_name'].isin(weak_imbalance)]

In [311]:
ranks_strong_imbalance.groupby(['config_id'])['rank'].mean().reset_index()

   config_id      rank
0          1  1.333333
1          2  2.333333
2          3  3.333333
3          4  3.000000

In [312]:
ranks_weak_imbalance.groupby(['config_id'])['rank'].mean().reset_index()

   config_id  rank
0          1   1.0
1          2   3.8
2          3   2.4
3          4   2.8